/* ===================================================================
   ! Font
   ===================================================================*/
stage {
  font-family: Play;
  font-size: 10pt;
  color: #fff;
}

.cinnamon-link {
  color: #C80000;
  font-weight: normal;
  text-decoration: underline;
}

.cinnamon-link:hover {
  color: #df7061;
}

.label-shadow {
  color: transparent;
}

/* ===================================================================
   ! Tooltips
   ===================================================================*/
#Tooltip {
  border-image: url("background-assets/tooltip.svg") 4;
  padding: 6px 8px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 9pt;
  font-weight: normal;
  font-weight: bold;
  text-align: center;
}

/* ===================================================================
   ! Scrollbars
   ===================================================================*/
StScrollView.vfade {
  -st-vfade-offset: 0;
}

StScrollView.hfade {
  -st-hfade-offset: 0;
}

StScrollBar {
  padding: 3px;
  padding-right: 6px;
  min-width: 8px;
  min-height: 16px;
}

StScrollBar StBin#trough {
  background-color: transparent;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
  border-image: url("widget-assets/scroll-handle.svg") 3;
}

StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:active,
StScrollBar StButton#hhandle:active,
StScrollBar StButton#vhandle:focus,
StScrollBar StButton#hhandle:focus {
  border-image: url("widget-assets/scroll-handle-hover.svg") 3;
}

/* ===================================================================
   ! Entries
   ===================================================================*/
.popup-menu StEntry,
.modal-dialog StEntry,
#notification StEntry {
  background-gradient-direction: none;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
  border: 0;
  box-shadow: 0 0 transparent;
  border-radius: 1px;
  border-image: url("widget-assets/entry.svg") 6;
  padding: 5px 12px 4px 12px;
  height: 22px;
  width: 220px;
  font-size: 10pt;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.4);
}

.popup-menu StEntry StIcon,
.modal-dialog StEntry StIcon,
#notification StEntry StIcon {
  color: #888;
}

.popup-menu StEntry:focus,
.modal-dialog StEntry:focus,
#notification StEntry:focus {
  border-image: url("widget-assets/entry-focused.svg") 9;
  font-size: 10pt;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  caret-color: rgba(255, 255, 255, 0.8);
  caret-size: 1px;
  selected-color: white;
  selection-background-color: #C80000;
}

.popup-menu StEntry:focus StIcon,
.modal-dialog StEntry:focus StIcon,
#notification StEntry:focus StIcon {
  color: #dcdcdc;
}

/* ===================================================================
   ! Switchers
   ===================================================================*/
.toggle-switch {
  width: 72px;
  height: 22px;
  background-size: contain;
}

.toggle-switch-us, .toggle-switch-intl {
  background-image: url("widget-assets/off.png");
}

.toggle-switch-us:checked, .toggle-switch-intl:checked {
  background-image: url("widget-assets/on.png");
}

/* ===================================================================
   ! Checkboxes + Radio buttons
   ===================================================================*/
.checkbox CinnamonGenericContainer {
  spacing: .2em;
  min-height: 16px;
}

.checkbox StLabel {
  padding-top: 1px;
}

.checkbox StBin {
  width: 16px;
  height: 16px;
  background-image: url("widget-assets/checkbox.svg");
}

.checkbox:focus StBin {
  background-image: url("widget-assets/checkbox-focused.svg");
}

.checkbox:checked StBin {
  background-image: url("widget-assets/checkbox-checked.svg");
}

.checkbox:focus:checked {
  background-image: url("widget-assets/checkbox-focused-checked.svg");
}

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  min-height: 16px;
}

.radiobutton StLabel {
  padding-top: 1px;
}

.radiobutton StBin {
  width: 16px;
  height: 16px;
  background-image: url("widget-assets/radiobutton.svg");
}

.radiobutton:focus StBin {
  background-image: url("widget-assets/radiobutton-focused.svg");
}

.radiobutton:checked StBin {
  background-image: url("widget-assets/radiobutton-checked.svg");
}

.radiobutton:focus:checked {
  background-image: url("widget-assets/radiobutton-focused-checked.svg");
}

/* ===================================================================
   ! Buttons
   ===================================================================*/
/* --- normal buttons ---*/
.modal-dialog-button,
.notification-button {
  background-color: transparent;
  background-gradient-direction: none;
  border: none;
  border-radius: 1px;
  border-image: url("button-assets/button.svg") 9;
  padding: 9px;
  padding-right: 32px;
  padding-left: 32px;
  -st-natural-width: 80px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.modal-dialog-button:hover,
.notification-button:hover {
  border-image: url("button-assets/button-hover.svg") 9;
}

.modal-dialog-button:focus,
.notification-button:focus {
  border-image: url("button-assets/button-focused.svg") 9;
  color: white;
}

.modal-dialog-button:active,
.modal-dialog-button:pressed,
.notification-button:active, .notification-button:pressed {
  border-image: url("button-assets/button-pressed.svg") 9;
}

.modal-dialog-button:focus:hover,
.notification-button:focus:hover {
  border-image: url("button-assets/button-focused-hover.svg") 9;
  color: white;
}

.modal-dialog-button:focus:active,
.modal-dialog-button:focus:pressed,
.notification-button:focus:active, .notification-button:focus:pressed {
  border-image: url("button-assets/button-focused-pressed.svg") 9;
  color: white;
}

.modal-dialog-button:disabled,
.notification-button:disabled {
  border-image: url("button-assets/button-insensitive.svg") 9;
  color: rgba(255, 255, 255, 0.1);
}

/* --- icon buttons ---*/
.notification-icon-button {
  background-color: transparent;
  background-gradient-direction: none;
  border: none;
  border-radius: 1px;
  border-image: url("button-assets/button.svg") 10;
  padding: 10px;
  color: #dcdcdc;
}

.notification-icon-button:hover {
  border-image: url("button-assets/button-hover.svg") 10;
}

.notification-icon-button:focus {
  border-image: url("button-assets/button-focused.svg") 10;
  color: #fff;
}

.notification-icon-button:active,
.notification-icon-button:pressed {
  border-image: url("button-assets/button-pressed.svg") 10;
}

.notification-icon-button:focus:hover {
  border-image: url("button-assets/button-focused-hover.svg") 10;
  color: #fff;
}

.notification-icon-button:focus:active,
.notification-icon-button:focus:pressed {
  border-image: url("button-assets/button-focused-pressed.svg") 10;
  color: #fff;
}

.notification-icon-button:disabled {
  border-image: url("button-assets/button-insensitive.svg") 10;
  color: #444;
}

.notification-icon-button > StIcon {
  icon-size: 16px;
}

/* ===================================================================
   ! Popup Menus
   ===================================================================*/
.popup-menu {
  min-width: 100px;
}

.popup-menu-boxpointer {
  padding: 0;
  -arrow-background-color: #444;
  -arrow-border-width: 1px;
  -arrow-border-color: #484848;
  -arrow-border-radius: 1px;
  -arrow-base: 16px;
  -arrow-rise: 8px;
  -boxpointer-gap: 2px;
}

.popup-menu-content {
}

.popup-menu-icon, .popup-menu StIcon {
  icon-size: 16px;
  color: #dcdcdc;
}

.popup-menu-item {
  padding: 0.4em 1.3em;
  spacing: .8em;
}

.popup-menu-item:active {
  border-image: url("background-assets/hover.svg") 9;
  color: white;
}

.popup-menu-item:active .popup-menu-icon, .popup-menu-item:active StIcon {
  color: #fff;
}

.popup-menu-item:insensitive {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.1);
}

.popup-menu-item-dot {
  /*!*/
}

.popup-sub-menu {
  border-image: url("background-assets/submenu-bg.svg") 9;
  box-shadow: none;
  background-gradient-direction: none;
  padding: 12px 0;
  color: rgba(255, 255, 255, 0.8);
}

.popup-sub-menu .popup-menu-item {
  padding-left: 2.1em;
}

.popup-sub-menu .popup-menu-item:active {
  border-image: url("background-assets/hover.svg") 9;
  color: white;
}

.popup-submenu-menu-item:open {
  background-color: transparent;
}

.popup-combo-menu {
  border-image: url("background-assets/popup.svg") 9;
  padding: 0.8em 0.2em;
  color: rgba(255, 255, 255, 0.8);
}

.popup-separator-menu-item {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
}

.popup-slider-menu-item {
  -slider-height: 2px;
  -slider-background-color: transparent;
  -slider-border-color: transparent;
  -slider-active-background-color: #C80000;
  -slider-active-border-color: transparent;
  -slider-border-width: 2px;
  -slider-handle-radius: 1px;
  color: #dcdcdc;
  border-image: url("widget-assets/slider.svg") 9 6 8 8;
  border: 0 solid transparent;
  min-width: 15em;
  height: 16px;
}

.popup-menu-item:active .popup-slider-menu-item {
  -slider-handle-radius: 1px;
  color: white;
}

.popup-inactive-menu-item {
  color: rgba(255, 255, 255, 0.4);
}

/* ===================================================================
   ! Panel
   ===================================================================*/
.panel-top {
  border-image: url("panel-assets/panel-top.svg") 4;
  font-size: 10pt;
  height: 25px;
}

.panel-top:highlight {
  border-image: url("panel-assets/panel-top-highlight.svg") 4;
}

.panel-top #panelLeft:dnd {
  border-image: url("panel-assets/DND-panel-top-left.svg") 4;
}

.panel-top #panelCenter:dnd {
  border-image: url("panel-assets/DND-panel-top-center.svg") 4;
}

.panel-top #panelRight:dnd {
  border-image: url("panel-assets/DND-panel-top-right.svg") 4;
}

.panel-bottom {
  border-image: url("panel-assets/panel-bottom.svg") 4;
  font-size: 10pt;
  height: 25px;
}

.panel-bottom:highlight {
  border-image: url("panel-assets/panel-bottom-highlight.svg") 4;
}

.panel-bottom #panelLeft:dnd {
  border-image: url("panel-assets/DND-panel-bottom-left.svg") 4;
}

.panel-bottom #panelCenter:dnd {
  border-image: url("panel-assets/DND-panel-bottom-center.svg") 4;
}

.panel-bottom #panelRight:dnd {
  border-image: url("panel-assets/DND-panel-bottom-right.svg") 4;
}

.panel-dummy {
  background-color: rgba(214, 73, 55, 0.8);
}

.panel-dummy:entered {
  background-color: #C80000;
}

/* This styles the systray items */
.panel-status-button {
  -natural-hpadding: 4px;
  -minimum-hpadding: 4px;
  padding: 0 2px;
  font-weight: bold;
  color: #dcdcdc;
  height: 25px;
}

.panel-top .panel-status-button:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-bottom .panel-status-button:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

.system-status-icon {
  icon-size: 16px;
  padding-left: 0;
  padding-right: 0;
  spacing: 0;
  margin: 0;
}

/* Items in the bottom panel are shifted down by 1px.
   This fixes it. */
.panel-bottom .system-status-icon,
.panel-bottom #appMenuIcon {
  padding-top: 1px;
}

#iconLabelButton {
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
}

.panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 2px;
  font-weight: bold;
  color: #dcdcdc;
}

.panel-button #appMenuIcon,
.panel-button:active > #appMenuIcon,
.panel-button:checked > #appMenuIcon,
.panel-button:focus > #appMenuIcon {
  app-icon-bottom-clip: 0;
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
  icon-shadow: transparent 0;
}

/* ===================================================================
   ! Expo view
   ===================================================================*/
.expo-background {
  background-color: rgba(34, 34, 34, 0.85);
  background-repeat: repeat;
}

.expo-workspace-thumbnail-frame {
  border: 5px transparent;
  border-image: url("expo-scale-assets/workspace-shadow.svg") 6;
}

.expo-workspace-thumbnail-frame#active {
  border: 5px transparent;
  border-image: url("expo-scale-assets/workspace-shadow.svg") 6;
}

.workspace-thumbnails {
  spacing: 26px;
  padding-left: 10px;
  padding-right: 9px;
}

/* This shades the workspace thumbnails */
.workspace-thumbnails .workspace-overview-background-shade {
  background-color: transparent;
}

.expo-workspaces-name-entry {
  border-image: url("expo-scale-assets/workspace-name.svg") 6;
  height: 15px;
  padding: 10px 12px;
  text-align: center;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.expo-workspaces-name-entry#selected {
  border-image: url("expo-scale-assets/workspace-name-focused.svg") 6;
  color: white;
}

.expo-workspaces-name-entry:focus,
.expo-workspaces-name-entry#selected:focus {
  border-image: url("expo-scale-assets/workspace-name-pressed.svg") 12;
  color: #C80000;
  selected-color: rgba(255, 255, 255, 0.8);
  caret-color: rgba(255, 255, 255, 0.8);
  caret-size: 1px;
  selection-background-color: #C80000;
}

.workspace-close-button {
  background-image: url("widget-assets/close.svg");
  height: 41px;
  width: 41px;
  -cinnamon-close-overlap: 28px;
}

.workspace-add-button {
  border-image: url("expo-scale-assets/add-workspace-bg.svg") 6;
  background-image: url("expo-scale-assets/plus.svg");
  background-size: 25px 24px;
  height: 200px;
  width: 35px;
}

.workspace-add-button:hover {
  border-image: url("expo-scale-assets/add-workspace-bg.svg") 6;
  background-image: url("expo-scale-assets/plus-hover.svg");
}

.window-close-area {
  border-image: url("expo-scale-assets/workspace-close-area-bg.svg") 9;
  background-image: url("expo-scale-assets/trash.svg");
  height: 100px;
  width: 350px;
}

.workspace-osd {
  border-image: url("background-assets/popup.svg") 7;
  padding: 12px 17px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 20pt;
}

/* ===================================================================
   ! Scale
   ===================================================================*/
/* The background for the scale view */
.workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0.65);
}

.window-caption {
  border-image: url("expo-scale-assets/window-name.svg") 6;
  color: rgba(255, 255, 255, 0.8);
  font-size: 10pt;
  font-weight: bold;
  padding: 6px 8px;
  spacing: 25px;
  -cinnamon-caption-spacing: 10px;
}

.window-caption#selected {
  border-image: url("expo-scale-assets/window-name-focused.svg") 6;
  color: white;
}

.window-close {
  background-image: url("widget-assets/close.svg");
  height: 41px;
  width: 41px;
  -cinnamon-close-overlap: 22px;
}

/* ===================================================================
   ! Desklets
   ===================================================================*/
.desklet {
  color: rgba(255, 255, 255, 0.8);
}

.desklet-with-borders {
  border-image: url("background-assets/popup.svg") 9;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  padding: 5px;
}

.desklet-with-borders-and-header {
  border-image: url("background-assets/desklet-body.svg") 9;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.desklet-header {
  border-image: url("background-assets/desklet-header.svg") 11;
  font-size: 10pt;
  font-weight: bold;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 8px 5px;
}

.desklet-drag-placeholder {
  border: 0 solid transparent;
  border-radius: 1px;
  background: none;
}

/* ===================================================================
   ! Clock
   ===================================================================*/
.clock-desklet-label {
  font-weight: bold;
  padding: 10px;
}

/* ===================================================================
   ! Photoframe
   ===================================================================*/
.photoframe-box {
  border-image: url("background-assets/popup.svg") 9;
  padding: 3px;
}

/* ===================================================================
   ! Xkcd
   ===================================================================*/
.xkcd-box {
  padding: 0;
  border: 0 transparent;
  box-shadow: none;
  background-color: transparent;
  border-radius: 1px;
}

/* ===================================================================
   ! Notifications
   ===================================================================*/
#notification {
  border-image: url("background-assets/popup.svg") 9;
  padding: 16px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 6px;
  opacity: 255px;
  mouseover-opacity: 255px;
  width: 34em;
  font-weight: bold;
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.8);
}

#notification.multi-line-notification {
  padding: 16px;
  color: rgba(255, 255, 255, 0.8);
}

#notification-scrollview {
  max-height: 100em;
}

#notification-scrollview > .top-shadow,
#notification-scrollview > .bottom-shadow {
  height: 10em;
}

#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}

#notification-body {
  font-weight: normal;
  font-size: 10pt;
  spacing: 5px;
  padding: 12px;
}

#notification-actions {
  spacing: 10px;
}

.notification-with-image {
  min-height: 159px;
}

/* ===================================================================
   ! Notification applet
   ===================================================================*/
.notification-applet-padding {
  padding: 0.6em 0.4em;
}

.notification-applet-padding:first-child {
  padding-top: 1.3em;
}

.notification-applet-padding:last-child {
  padding-bottom: .5em;
}

/* Notifs look inside the notification applet & other popups. */
.popup-menu-content #notification {
  border-image: url("background-assets/dark-bg.svg") 7;
  padding: 12px;
}

/* ===================================================================
   ! Alt Tab
   ===================================================================*/
#altTabPopup {
  padding: 8px;
  spacing: 1px;
}

.switcher-list {
  border-image: url("background-assets/popup.svg") 7;
  color: rgba(255, 255, 255, 0.8);
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
}

.switcher-list .item-box {
  padding: 10px;
}

.switcher-list .item-box:selected {
  border-image: url("background-assets/hover.svg") 7;
  color: rgba(255, 255, 255, 0.8);
}

.switcher-list-item-container {
  spacing: 0;
}

.switcher-list .thumbnail {
  width: 256px;
}

.switcher-list .separator {
  /*!*/
}

.switcher-arrow,
.switcher-arrow:highlighted,
.switcher-preview-backdrop {
  border-color: transparent;
  color: transparent;
}

/* ===================================================================
  ! Lightbox + flashspot
   ===================================================================*/
/* The background shade when a dialog appears */
.lightbox {
  background-color: rgba(0, 0, 0, 0.65);
}

/* Among other places, appears when adding an applet */
.flashspot {
  background-color: rgba(255, 255, 255, 0.6);
}

/* ===================================================================
   ! Modal dialogs
   ===================================================================*/
.modal-dialog {
  border-image: url("background-assets/popup.svg") 9;
  border-radius: 1px;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
}

.modal-dialog > * {
  padding: 24px;
  border-radius: 1px;
}

.modal-dialog > .modal-dialog-button-box {
  border-image: url("background-assets/buttonbox-bg.svg") 8;
  spacing: 0;
  margin: 0;
  padding: 5px 8px 6px 8px;
}

/* ===================================================================
   ! Run dialog
   ===================================================================*/
.run-dialog > * {
  border-image: url("background-assets/popup.svg") 7;
  padding: 12px;
}

.run-dialog > .modal-dialog-button-box {
  background-color: transparent;
  border-image: none;
  box-shadow: none;
  padding: 0;
  height: 0;
}

.run-dialog-error-box {
  padding: 10px 2px 2px 2px;
  spacing: 5px;
}

.run-dialog-completion-box {
  font-size: 10px;
}

.run-dialog-label {
  font-size: 0;
}

.run-dialog-entry {
  /*!*/
}

/* ===================================================================
   ! About Dialog
   ===================================================================*/
.about-content {
  width: 550px;
  height: 250px;
  spacing: 8px;
}

.about-title {
  font-size: 2em;
  font-weight: bold;
}

.about-uuid {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.about-description {
  padding-top: 6px;
  padding-bottom: 8px;
}

.about-version {
  padding-left: 7px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.about-icon {
  padding-right: 20px;
  padding-bottom: 14px;
  color: #dcdcdc;
}

.about-scrollBox {
  border-image: url("background-assets/dark-bg.svg") 7;
  padding: 4px;
  padding-right: 0;
  border-radius: 1px;
}

.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em;
}

/* ===================================================================
   ! Looking Glass dialog
   ===================================================================*/
#LookingGlassDialog {
  border-image: url("background-assets/popup.svg") 7;
  padding: 14px;
  color: rgba(255, 255, 255, 0.8);
}

/* ===================================================================
   ! On screen keyboard
   ===================================================================*/
#keyboard {
  border-image: url("background-assets/keyboard-bg.svg") 9;
}

.keyboard-layout {
  spacing: 8px;
  padding: 8px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  border-image: url("button-assets/button.svg") 9;
  padding: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12pt;
  font-weight: bold;
}

.keyboard-key:hover {
  border-image: url("button-assets/button-hover.svg") 9;
}

.keyboard-key:checked,
.keyboard-key:active {
  border-image: url("button-assets/button-pressed.svg") 9;
}

.keyboard-key:grayed {
  border-image: url("button-assets/button-insensitive.svg") 9;
  color: rgba(255, 255, 255, 0.1);
}

.keyboard-subkeys {
  padding: 0;
  -arrow-background-color: #444;
  -arrow-border-width: 1px;
  -arrow-border-color: #484848;
  -arrow-border-radius: 1px;
  -arrow-base: 16px;
  -arrow-rise: 8px;
  -boxpointer-gap: 2px;
}

/* ===================================================================
   ! Applets
   ===================================================================*/
.applet-separator {
  background-image: url("panel-assets/panel-separator.svg");
  background-repeat: repeat;
  width: 9px;
  padding: 0;
}

.applet-separator-line {
  /*!*/
}

.applet-label {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.applet-icon {
  icon-size: 16px;
}

.applet-box {
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  color: #dcdcdc;
}

/* Different images used in top & bottom panels. */
.panel-top .applet-box:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-bottom .applet-box:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

/* ===================================================================
   ! Calendar
   ===================================================================*/
.calendar {
  padding: 0.6em 1.3em;
  padding-top: .7em;
  spacing-rows: 2px;
  spacing-columns: 2px;
}

.datemenu-date-label {
  padding: 0.6em 0 0.6em 0;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.calendar-month-label {
  padding-top: 2px;
  font-size: 9pt;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.4);
}

.calendar-change-month-back,
.calendar-change-month-forward:rtl {
  background-image: url("widget-assets/calendar-arrow-left.svg");
  background-size: 16px;
  height: 16px;
  width: 16px;
}

.calendar-change-month-forward,
.calendar-change-month-back:rtl {
  background-image: url("widget-assets/calendar-arrow-right.svg");
  background-size: 16px;
  height: 16px;
  width: 16px;
}

.calendar-change-month-back:hover {
  background-image: url("widget-assets/calendar-arrow-left-hover.svg");
}

.calendar-change-month-forward:hover {
  background-image: url("widget-assets/calendar-arrow-right-hover.svg");
}

.calendar-day-base {
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  width: 2.3em;
  height: 2.7em;
}

.calendar-day-heading {
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 9px;
  padding-bottom: 6px;
  height: 1.5em;
}

.calendar-work-day {
  border-image: url("misc-assets/calendar-work-day.svg") 6;
  border: none;
  color: rgba(255, 255, 255, 0.8);
}

.calendar-nonwork-day {
  border-image: url("misc-assets/calendar-nonwork-day.svg") 6;
  border: none;
  color: rgba(255, 255, 255, 0.4);
}

.calendar-today {
  border-image: url("misc-assets/calendar-today.svg") 6;
  color: white;
  font-weight: bold;
}

.calendar-other-month-day {
  border-image: url("misc-assets/calendar-other-month-day.svg") 6;
  color: rgba(255, 255, 255, 0.1);
  font-weight: normal;
}

.calendar-week-number {
  color: rgba(255, 255, 255, 0.4);
  font-size: 9pt;
  font-weight: normal;
  height: 1.6em;
  width: 1.2em;
  padding-top: 8px;
  padding-right: 6px;
}

/* ===================================================================
   ! Window list
   ===================================================================*/
.window-list-box {
  spacing: 3px;
  padding-left: 0;
}

.window-list-item-label {
  width: 15em;
  min-width: 5px;
}

.window-list-item-box {
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
}

/* Different images used in top & bottom panels. */
.panel-top .window-list-item-box:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
  color: rgba(255, 255, 255, 0.8);
}

.panel-top .window-list-item-box:active,
.panel-top .window-list-item-box:checked,
.panel-top .window-list-item-box:focus {
  border-image: url("panel-assets/panel-top-item-active.svg") 4;
  color: white;
}

.panel-top .window-list-item-box:checked:hover,
.panel-top .window-list-item-box:focus:hover,
.panel-top .window-list-item-box:active:hover {
  border-image: url("panel-assets/panel-top-item-active-hover.svg") 4;
}

.panel-top .window-list-item-demands-attention {
  border-image: url("panel-assets/panel-top-item-attention.svg") 4;
}

.panel-top .window-list-item-demands-attention:hover {
  border-image: url("panel-assets/panel-top-item-attention-hover.svg") 4;
}

.panel-bottom .window-list-item-box:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
  color: rgba(255, 255, 255, 0.8);
}

.panel-bottom .window-list-item-box:active,
.panel-bottom .window-list-item-box:checked,
.panel-bottom .window-list-item-box:focus {
  border-image: url("panel-assets/panel-bottom-item-active.svg") 4;
  color: white;
}

.panel-bottom .window-list-item-box:checked:hover,
.panel-bottom .window-list-item-box:focus:hover,
.panel-bottom .window-list-item-box:active:hover {
  border-image: url("panel-assets/panel-bottom-item-active-hover.svg") 4;
}

.panel-bottom .window-list-item-demands-attention {
}

.panel-bottom .window-list-item-demands-attention:hover {
  border-image: url("panel-assets/panel-bottom-item-attention-hover.svg") 4;
}

/* ===================================================================
   ! Sound Applet
   ===================================================================*/
.sound-button {
  border-image: url("button-assets/button.svg") 7;
  width: 22px;
  height: 22px;
  padding: 8px;
}

.sound-button:hover {
  border-image: url("button-assets/button-hover.svg") 7;
}

.sound-button:active {
  border-image: url("button-assets/button-pressed.svg") 7;
}

.sound-button StIcon {
  icon-size: 16px;
  color: #dcdcdc;
}

.sound-button-container {
  padding-right: 1px;
  padding-left: 1px;
}

.sound-track-infos {
  padding: 5px;
  padding-left: 15px;
}

.sound-track-info {
  padding-top: 2px;
  padding-bottom: 2px;
}

.sound-track-info StIcon {
  icon-size: 16px;
  color: #dcdcdc;
}

.sound-track-info StLabel {
  padding-left: 5px;
  padding-right: 5px;
}

.sound-track-box {
  max-width: 220px;
}

.sound-track-cover {
  border-image: url("background-assets/submenu-bg.svg") 9;
  padding: 20px;
}

.sound-seek-box {
  padding-left: 15px;
}

.sound-seek-box StLabel {
  padding-top: 3px;
}

.sound-seek-box StIcon {
  icon-size: 16px;
  color: #dcdcdc;
}

.sound-seek-slider {
  width: 170px;
}

.sound-volume-menu-item {
  padding: 0.4em 1.3em;
}

.sound-volume-menu-item StIcon {
  icon-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  color: #dcdcdc;
}

.sound-playback-control {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* ===================================================================
     ! Workspace Switcher
     ===================================================================*/
#workspaceSwitcher {
  spacing: 0;
}

.workspace-button {
  padding-left: 8px;
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

/* Different images used in top & bottom panels. */
.panel-top .workspace-button:outlined {
  border-image: url("panel-assets/panel-top-item-active.svg") 4;
  color: white;
}

.panel-top .workspace-button:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
  color: rgba(255, 255, 255, 0.8);
}

.panel-top .workspace-button:outlined:hover {
  border-image: url("panel-assets/panel-top-item-active-hover.svg") 4;
}

.panel-bottom .workspace-button:outlined {
  border-image: url("panel-assets/panel-bottom-item-active.svg") 4;
  color: white;
}

.panel-bottom .workspace-button:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
  color: rgba(255, 255, 255, 0.8);
}

.panel-bottom .workspace-button:outlined:hover {
  border-image: url("panel-assets/panel-bottom-item-active-hover.svg") 4;
}

/* Items in the bottom panel are shifted by 1px down.
     This fixes it for this applet specifically.
     The global fix is in the panel module */
.panel-bottom .workspace-button {
  padding-top: 1px;
}

/* ===================================================================
   ! Panel Launchers Applet (panelLaunchers.js)
   ===================================================================*/
.panel-launcher {
  margin: 0;
  padding: 0 4px;
}

/* Different images used in top & bottom panels. */
.panel-top .panel-launcher:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-bottom .panel-launcher:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

/* ===================================================================
   ! User Applet
   ===================================================================*/
.user-box {
  padding: 0.8em 1.3em;
  spacing: 10px;
}

.user-icon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 1px;
}

.user-label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 10pt;
  font-weight: bold;
  margin: 0;
}

/* ===================================================================
   ! Menu applet
   ===================================================================*/
/* Favourites */
.menu-favorites-box {
  border-image: url("background-assets/dark-bg.svg") 7;
  padding: 0.5em;
}

.menu-favorites-button {
  padding: 10px 12px;
}

.menu-favorites-button:hover {
  border-image: url("background-assets/hover.svg") 9;
  color: white;
}

/* Places */
.menu-places-box {
  margin: auto;
  padding: 8px;
  border: 0 solid #dcdcdc;
}

.menu-places-button {
  padding: 10px;
}

/* Categories */
.menu-categories-box {
  padding: 10px 30px;
}

.menu-category-button {
  padding: 7px;
}

.menu-category-button-greyed {
  padding: 7px;
  color: rgba(255, 255, 255, 0.1);
  font-style: normal;
}

.menu-category-button-selected {
  padding: 7px;
  border-image: url("background-assets/hover.svg") 7;
  color: white;
}

.menu-category-button-label:ltr {
  padding-left: 5px;
}

.menu-category-button-label:rtl {
  padding-right: 5px;
}

/* Applications */
.menu-applications-inner-box,
.menu-applications-outer-box {
  padding: 10px;
  padding-bottom: 0;
}

.menu-application-button {
  padding: 7px;
  max-width: 10px;
}

.menu-application-button-selected {
  padding: 7px;
  border-image: url("background-assets/hover.svg") 7;
  color: white;
}

.menu-application-button:highlighted {
  border-image: url("misc-assets/highlighted.svg") 6;
}

.menu-application-button-selected:highlighted {
  border-image: url("background-assets/hover.svg") 7;
  color: rgba(255, 255, 255, 0.8);
}

.menu-application-button-label:ltr {
  padding-left: 5px;
}

.menu-application-button-label:rtl {
  padding-right: 5px;
}

/* Application hover description */
.menu-selected-app-box {
  padding-right: 30px;
  padding-left: 30px;
  text-align: right;
}

.menu-selected-app-title {
  font-weight: bold;
}

.menu-selected-app-description {
  max-width: 150px;
}

/* Menu search box */
.menu-search-box {
  padding-left: 30px;
}

.menu-search-entry-icon {
  icon-size: 16px;
}

/* Right-click menu */
/* ===================================================================
   ! Hot corners icons
   ===================================================================*/
#overview-corner {
  background-image: url("widget-assets/hotcorner-icon.svg");
}

#overview-corner:hover {
  background-image: url("widget-assets/hotcorner-icon-hover.svg");
}

/* ===================================================================
   ! Hot corner ripple
   ===================================================================*/
.ripple-box {
  width: 24px;
  height: 24px;
  background-image: url("misc-assets/corner-ripple.svg");
}

/* ===================================================================
 * ! OSD
 * ===================================================================*/
.info-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-image: url("background-assets/popup.svg") 7;
}

.osd-window {
  spacing: 1em;
  padding: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-image: url("background-assets/popup.svg") 10;
}

.osd-window StIcon {
  color: #dcdcdc;
}

.osd-window .level {
  height: 5px;
  color: #C80000;
}

/* ===================================================================
   ! Magnifier
   ===================================================================*/
.magnifier-zoom-region {
  border: 4px red;
}

.magnifier-zoom-region.full-screen {
  border: none;
}

/* ===================================================================
 * ! Tile Previews
 * ===================================================================*/
.tile-preview, .tile-hud {
  background-color: rgba(30, 30, 30, 0.65);
}

.tile-preview.snap, .tile-hud.snap {
  background-color: rgba(214, 73, 55, 0.8);
}

/* ===================================================================
   ! Weather applet
   ===================================================================*/
/* Use to override the '.popup-menu-content' selector. */
.weather-menu .popup-menu-content {
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Current */
.current {
  padding-top: 0;
}

.weather-current-location-link {
  font-size: 12pt;
}

.weather-current-location-link:selected,
.weather-current-location-link:hover {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255, 255, 255, 0);
  background-gradient-end: rgba(255, 255, 255, 0);
  color: #C80000;
  text-decoration: underline;
}

.weather-current-summarybox {
  padding: 0;
}

.weather-current-summary {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.8);
}

.weather-current-iconbox {
  padding: 1em;
}

.weather-current-icon {
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 15px;
  color: #dcdcdc;
}

.weather-current-databox {
  padding-top: 15px;
  padding-left: 30px;
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.8);
}

.weather-current-databox-captions {
  text-align: right;
  padding: 0;
  padding-right: 5px;
  spacing: 0;
  color: rgba(255, 255, 255, 0.4);
}

.weather-current-astronomy {
  color: rgba(255, 255, 255, 0.4);
  font-size: 10pt;
}

/* Forecast */
.weather-forecast-databox {
  padding: 14px 30px 0 0;
}

.weather-forecast-icon {
  padding: 10px 10px 0 30px;
  color: #dcdcdc;
}

.weather-forecast-day {
  color: rgba(255, 255, 255, 0.8);
  font-size: 10pt;
  font-weight: bold;
}

/* ===================================================================
   ! System tray collapsible
   ===================================================================*/
.systray-collapsible-gradient,
.systray-collapsible-border {
  background-gradient-direction: none;
  background: transparent;
  box-shadow: none;
  border-radius: 1px;
  spacing: 2px;
  padding: 0;
}

.systray-collapsible-gradient:focus,
.systray-collapsible-border:focus {
  background-gradient-direction: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.systray-collapsible-gradient .popup-menu-icon,
.systray-collapsible-border .popup-menu-icon {
  icon-size: 16px;
  color: #dcdcdc;
  padding-left: 2px;
  padding-right: 2px;
}

.systray-collapsible-gradient:focus .popup-menu-icon,
.systray-collapsible-border:focus .popup-menu-icon {
  color: #dcdcdc;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
}

/* ===================================================================
   ! Configurable menu
   ===================================================================*/
.menu-main-box {
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0;
}

.menu-control-button {
  border-image: url("button-assets//button.svg") 7;
  padding: 8px;
}

.menu-control-button-selected {
  border-image: url("button-assets//button-hover.svg") 7;
  padding: 8px;
}

.menu-control-button:open {
  border-image: url("button-assets//button-pressed.svg") 7;
  padding: 8px;
}

.menu-control-button-selected:open {
  border-image: url("button-assets//button-pressed.svg") 7;
  padding: 8px;
}

/* Fixes for stylized & classic layouts */
.menu-main-box-stylized,
.menu-main-box-classic {
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 2px;
  padding-bottom: 0;
}

.menu-categories-box-stylized,
.menu-categories-box-classic,
.menu-top-box-stylized,
.menu-top-box-classic {
  padding-left: 10px;
}

.menu-search-box-stylized,
.menu-search-box-classic {
  padding-left: 0;
  padding-top: 0;
}

/* ===================================================================
   ! Slingshot
   ===================================================================*/
/* Use to override the '.popup-menu-content' selector */
.slingshot {
  padding: 0;
}

/* Separator */
.slingshot .separator {
  background-color: rgba(255, 255, 255, 0);
}

/* Entry */
.slingshot .entry {
  background-gradient-direction: none;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 1px;
  height: 25px;
}

.slingshot .entry:focus {
  background-gradient-direction: none;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  border-radius: 1px;
  color: rgba(255, 255, 255, 0.8);
  height: 25px;
}

/* Paginator */
.slingshot .button {
  border-image: url("button-assets//button.svg") 7;
  background-gradient-direction: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 1px;
  font-size: 9pt;
  padding: 8px 0;
}

.slingshot .button:hover {
  border-image: url("button-assets//button-hover.svg") 7;
  background-gradient-direction: none;
  background-color: transparent;
}

.slingshot .button:active {
  border-image: url("button-assets//button-pressed.svg") 7;
  background-gradient-direction: none;
  background-color: transparent;
}

.slingshot .button:checked {
  border-image: url("button-assets//button-focused.svg") 7;
  background-gradient-direction: none;
  background-color: transparent;
  color: white;
}

.slingshot .button:hover:checked,
.slingshot .button:hover:active {
  background-gradient-direction: none;
  background-color: transparent;
}

/* Applications */
.slingshot .button.app {
  border-image: none;
  border-width: 0;
  font-size: 10pt;
  padding: 0;
}

.slingshot .button.app:hover {
  border-image: url("background-assets/hover.svg") 7;
  background-color: transparent;
  color: white;
}

.slingshot .button.app:focus {
  border-image: url("background-assets/hover.svg") 7;
  background-color: transparent;
  color: white;
}

/* Categories */
.slingshot .sidebar {
  padding-left: 8px;
  padding-right: 0;
}

.slingshot .sidebar .button {
  border-image: none;
  padding: 5px;
  border-radius: 1px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: transparent;
  font-size: 10pt;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgba(255, 255, 255, 0.4);
}

.slingshot .sidebar .button:hover {
  border-image: url("background-assets/hover.svg") 7;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  color: white;
}

.slingshot .sidebar .button:active,
.slingshot .sidebar .button:hover:active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 0 0 0 transparent;
  color: white;
}

.slingshot .sidebar .button:checked {
  border-image: url("misc-assets/highlighted-mirrored.svg") 7;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  color: white;
}

.slingshot .sidebar .button:hover:checked {
  border-image: url("background-assets/hover.svg") 7;
  color: white;
}

/* Linked buttons */
/* Middle button */
.slingshot .linked .button {
  border-image: url("button-assets//linked-button-middle.svg") 9;
  background-gradient-direction: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 1px;
  color: #dcdcdc;
}

.slingshot .linked .button:hover {
  border-image: url("button-assets//linked-button-middle-hover.svg") 9;
}

.slingshot .linked .button:active {
  border-image: url("button-assets//linked-button-middle-pressed.svg") 9;
}

.slingshot .linked .button:checked {
  border-image: url("button-assets//linked-button-middle-pressed.svg") 9;
  color: #fff;
}

/* Leftmost button */
.slingshot .linked .button:first-child {
  border-image: url("button-assets//linked-button-left.svg") 9;
  background-gradient-direction: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 1px;
  padding: 6px;
  color: #dcdcdc;
}

.slingshot .linked .button:first-child:hover {
  border-image: url("button-assets//linked-button-left-hover.svg") 9;
}

.slingshot .linked .button:first-child:active {
  border-image: url("button-assets//linked-button-left-pressed.svg") 9;
}

.slingshot .linked .button:first-child:checked {
  border-image: url("button-assets//linked-button-left-checked.svg") 9;
  color: #fff;
}

/* Rightmost button */
.slingshot .linked .button:last-child {
  border-image: url("button-assets//linked-button-right.svg") 9;
  background-gradient-direction: none;
  background-color: transparent;
  border-right-width: 0;
  box-shadow: none;
  border-radius: 1px;
  padding: 6px;
  color: #dcdcdc;
}

.slingshot .linked .button:last-child:hover {
  border-image: url("button-assets//linked-button-right-hover.svg") 9;
}

.slingshot .linked .button:last-child:active,
.slingshot .linked .button:last-child:active:hover {
  border-image: url("button-assets//linked-button-right-pressed.svg") 9;
  border-right-width: 0;
}

.slingshot .linked .button:last-child:checked {
  border-image: url("button-assets//linked-button-right-checked.svg") 9;
  color: #fff;
}

/* Linked single button */
.slingshot .linked .button:only-child {
  border-image: url("button-assets//button.svg") 9;
  background-gradient-direction: none;
  background-color: transparent;
  border-width: 0;
  box-shadow: none;
  border-radius: 1px;
  color: #dcdcdc;
}

.slingshot .linked .button:only-child:hover {
  border-image: url("button-assets//button-hover.svg") 9;
}

.slingshot .linked .button:only-child:active {
  border-image: url("button-assets//button-pressed.svg") 9;
}

.slingshot .linked .button:only-child:checked {
  border-image: url("button-assets//button-pressed.svg") 9;
  color: #fff;
}

/* ===================================================================
   ! Xcenter
   ===================================================================*/
/* Use to override the '.popup-menu-content' selector */
.xCenter-menu .popup-menu-content {
  padding: 0;
  max-height: 500px;
}

.xCenter-menu .popup-menu-item {
  padding: 0.4em 1.3em;
}

.xCenter-menu .popup-menu-item:hover {
  border-image: url("background-assets/hover.svg") 7;
}

.xCenter-mainBox StIcon {
  color: #dcdcdc;
  padding-bottom: 1px;
}

.xCenter-title {
  border: 0 transparent;
  border-bottom-width: 4px;
  font-size: 9pt;
  font-weight: bold;
}

.xCenter-pane {
  border-image: url("misc-assets/separator-vertical.svg") 11;
  padding: 7px 0;
  padding-right: 1px;
}

.xCenter-pane:last-child {
  border-image: none;
  padding-right: 0;
}

.xCenter-menuItemLabel {
  max-width: 12em;
}

/* ===================================================================
   ! Stopwatch
   ===================================================================*/
.stopwatch-ready,
.stopwatch-ready:hover,
.stopwatch-running,
.stopwatch-running:hover,
.stopwatch-paused,
.stopwatch-day-exceeded,
.stopwatch-running-day-exceeded,
.stopwatch-paused-day-exceeded {
  background-color: transparent;
  padding: 3px 5px;
}

/* Different images used in top & bottom panels */
.panel-top .stopwatch-ready:hover {
  border-image: url("panel-assets/panel-top-item-hover.svg") 4;
}

.panel-top .stopwatch-running {
  border-image: url("panel-assets/panel-top-item-active.svg") 4;
  color: white;
}

.panel-top .stopwatch-running:hover {
  border-image: url("panel-assets/panel-top-item-active-hover.svg") 4;
}

.panel-top .stopwatch-paused,
.panel-top .stopwatch-paused:hover,
.panel-top .stopwatch-day-exceeded,
.panel-top .stopwatch-running-day-exceeded,
.panel-top .stopwatch-paused-day-exceeded {
  border-image: url("panel-assets/panel-top-item-attention.svg") 4;
}

.panel-bottom .stopwatch-ready:hover {
  border-image: url("panel-assets/panel-bottom-item-hover.svg") 4;
}

.panel-bottom .stopwatch-running {
  border-image: url("panel-assets/panel-bottom-item-active.svg") 4;
  color: white;
}

.panel-bottom .stopwatch-running:hover {
  border-image: url("panel-assets/panel-bottom-item-active-hover.svg") 4;
}

.panel-bottom .stopwatch-paused,
.panel-bottom .stopwatch-paused:hover,
.panel-bottom .stopwatch-day-exceeded,
.panel-bottom .stopwatch-running-day-exceeded,
.panel-bottom .stopwatch-paused-day-exceeded {
}

.stopwatch-running * {
  color: white;
}

/* ===================================================================
   ! Sticky Notes desklet
   ===================================================================*/
#sticky-scrollview StScrollBar {
  padding: 0;
  padding-left: 6px;
}

.sticky-button {
  height: 24px;
  width: 24px;
}

.sticky-button-selected {
  border-image: none;
  height: 24px;
  width: 24px;
}

.sticky-button-selected * {
  color: #C80000;
}

.sticky-button-box {
  padding: 0;
  padding-top: 4px;
  height: 24px;
}

.sticky-main-box-staples {
  border-image: url("background-assets/popup.svg") 7;
  background-color: transparent;
  border-radius: 1px;
  text-shadow: none;
  min-width: 210px;
  padding: 4px 10px;
  padding-top: 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.sticky-main-box-none {
  border-image: url("background-assets/popup.svg") 7;
  background-color: transparent;
  border-radius: 1px;
  text-shadow: none;
  min-width: 210px;
  padding: 4px 10px;
  padding-top: 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.sticky-top-box {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.sticky-bottom-box {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.sticky-title-label {
  padding: 0 4px 0 4px;
  max-width: 100px;
  text-align: center;
}

.sticky-information-label {
  padding: 0 4px 0 4px;
}

.sticky-text-box {
  background-gradient-direction: none;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
  border: 0;
  box-shadow: 0 0 transparent;
  border-radius: 1px;
  border-image: url("widget-assets/entry.svg") 6;
  padding: 5px 12px 4px 12px;
  font-size: 10pt;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.4);
  padding: 6px;
}

.sticky-text-box StIcon {
  color: #888;
}

.sticky-text-box:active {
  background-gradient-direction: none;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
  border: 0;
  box-shadow: 0 0 transparent;
  border-radius: 1px;
  border-image: url("widget-assets/entry-focused.svg") 9;
  font-size: 10pt;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  caret-color: rgba(255, 255, 255, 0.8);
  caret-size: 1px;
  selected-color: white;
  selection-background-color: #C80000;
  padding: 6px;
}

.sticky-text-box:active StIcon {
  color: #dcdcdc;
}

.sticky-text-box StEntry {
  border-image: none;
}

#sticky-note-entry {
  color: rgba(255, 255, 255, 0.8);
  selected-color: rgba(255, 255, 255, 0.8);
  caret-color: rgba(255, 255, 255, 0.8);
  caret-size: 1px;
  selection-background-color: #C80000;
}

/* ===================================================================
   ! Reddit reader
   ===================================================================*/
.reddit-reader {
  border-image: url("background-assets/popup.svg") 7;
  padding: 4px;
  color: rgba(255, 255, 255, 0.8);
}

.reddit-reader StScrollBar {
  padding: 3px 5px 8px 3px;
}

/* Title */
.reddit-title-bar {
  border-image: url("widget-assets/entry.svg") 7;
  padding: 10px;
  font-size: 10pt;
  font-weight: bold;
}

.reddit-header-icon {
  padding-right: 6px;
  icon-size: 16px;
  color: #dcdcdc;
}

.reddit-title {
  padding-right: 6px;
  font-size: 14pt;
}

.reddit-subtitle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 10pt;
}

/* Posts */
.reddit-posts-box {
  spacing: 2px;
  padding: 2px 1px 8px 1px;
}

.reddit-post {
  border-image: url("background-assets/dark-bg-top.svg") 7;
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 9pt;
}

.reddit-info-box {
  border-image: url("background-assets/dark-bg-bottom.svg") 7;
  padding: 0 10px 10px 10px;
  spacing: 10px;
  font-size: 7pt;
  color: rgba(255, 255, 255, 0.4);
}

/* ===================================================================
   ! Calculator
   ===================================================================*/
.calc-mainBox {
  padding: 0;
}

.calc-displayArea {
  padding: 0;
}

.calc-displayWindow {
  border-image: url("widget-assets/entry-focused.svg") 7;
  padding: 6px 6px 14px 6px;
}

.calc-displayWindow-rpn {
  border-image: url("widget-assets/entry-focused.svg") 7;
  padding: 6px 6px 14px 6px;
}

.calc-displayText-primary {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
}

.calc-displayText-secondary {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.4);
  text-align: right;
  padding-bottom: 8px;
}

.calc-displayText-operation {
  font-size: 20px;
}

.calc-displayText-status {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.4);
}

.calc-displayText-rpn {
  color: rgba(255, 255, 255, 0.8);
}

.calc-stackArea {
  height: 85px;
  padding-top: 0;
}

.calc-navigation-box {
  padding: 0 0 0 8px;
  width: 22px;
  border: none;
}

.calc-navigation-icon {
  color: #dcdcdc;
  icon-size: 16px;
}

.calc-navigation-button {
  border: none;
}

.calc-button {
  border-image: url("button-assets/button.svg") 7;
  height: 32px;
  width: 38px;
  border-width: 0;
  margin: 0;
  color: #dcdcdc;
}

.calc-button:hover {
  border-image: url("button-assets/button-hover.svg") 7;
}

.calc-button:active {
  border-image: url("button-assets/button-pressed.svg") 7;
}

.calc-button-padding {
  padding: 2px;
}

/* ===================================================================
   ! G-tile
   ===================================================================*/
.grid-panel {
  border-image: url("background-assets/popup.svg") 7;
  width: 220px;
  padding: 4px;
  spacing: 0;
}

.grid-title {
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.table {
  padding: 6px;
}

.table-element {
  border-image: url("misc-assets/calendar-work-day.svg") 7;
}

.table-element:hover,
.table-element:activate {
  border-image: url("misc-assets/calendar-today.svg") 7;
}

.top-box {
  border-image: url("background-assets/sub.svg") 7;
  padding: 8px;
  padding-bottom: 12px;
}

.bottom-box {
  padding: 0 8px;
}

.bottom-box:last-child {
  padding: 8px;
  padding-top: 2px;
}

.very-bottom-box {
  padding: 0;
}

.grid-preview {
  background-color: transparent;
  border-color: transparent;
}

.grid-preview:activate {
  background-color: rgba(214, 73, 55, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 1px;
}

/* buttons */
.settings-button {
  border-image: url("button-assets//button.svg") 7;
  padding: 3px;
  width: 46px;
  height: 34px;
  color: rgba(255, 255, 255, 0.8);
}

.settings-button:activate {
  border-image: url("button-assets//button-focused-pressed.svg") 7;
  color: rgba(255, 255, 255, 0.8);
}

.settings-button:activate:hover {
  border-image: url("button-assets//button-focused-pressed.svg") 7;
  color: rgba(255, 255, 255, 0.8);
}

.settings-button:hover {
  border-image: url("button-assets//button-hover.svg") 7;
  color: rgba(255, 255, 255, 0.8);
}

.close-button {
  background-image: url("misc-assets/auto-close.svg");
  width: 24px;
  height: 24px;
}

.close-button:hover {
  background-image: url("misc-assets/auto-close.svg");
}

/* button-icons */
.tiling-icon {
  width: 24px;
  height: 24px;
}

.animation-icon {
  background-image: url("misc-assets/animation.svg");
  width: 24px;
  height: 24px;
}

.auto-close-icon {
  background-image: url("misc-assets/auto-close.svg");
  width: 24px;
  height: 24px;
}

.action-main-list {
  background-image: url("misc-assets/auto-tile-1.svg");
  width: 24px;
  height: 24px;
}

.action-two-list {
  background-image: url("misc-assets/auto-tile-2.svg");
  width: 24px;
  height: 24px;
}

.action-scale {
  width: 24px;
  height: 24px;
}
