/* ..::malys::.. - 2012 04/26 -- licence GPLv3 -
 * 
 * malysss@seznam.cz
 * http://malysss.deviantart.com/
 *
 */

stage {
    font-family: "ubuntu light", ubuntu, cantarell, sans-serif;
}

.shell-link {
    color: #0000ff;
    text-decoration: underline;
}

.shell-link:hover {
    color: #0000e0;
}

.label-shadow {
    color: rgba(0,0,0,0.5);
}

StScrollBar
{
    padding: 0px;
}

StScrollView.vfade
{
    -st-vfade-offset: 68px;
}

StScrollView StScrollBar
{
    min-width: 5px;
    min-height: 5px;
}


StScrollBar StBin#trough {
    background-color: rgba(0,0,0,0.0001);
    border: 1px solid rgba(205,201,201,0.0001); 
    border-radius: 3px;
}

StScrollBar StButton#vhandle
{


    background-color: rgba(166,166,166,0.25);
    border: 1px solid rgba(166,166,166,0.25);
    border-radius: 3px;
}

StScrollBar StButton#hhandle
{


    background-color: rgba(166,166,166,0.25);
    border: 1px solid rgba(166,166,166,0.25); 
    border-radius: 3px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-color: rgba(166,166,166,0.25);
}



/* Check Boxes */

.check-box ShellGenericContainer {
    spacing: .8em;
}

.check-box StBin {
    width: 24px;
    height: 22px;
    background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.svg");
}

/* PopupMenu */

.popup-menu-boxpointer {

    -arrow-border-radius: 9px;
    -arrow-background-color: rgba(200,200,200,0.79);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(255,255,255,0.85);
    -arrow-base: 0px;
    -arrow-rise: 15px;


}

.popup-menu {
    color: rgba(54,54,54,0.9);
    text-shadow: rgba(242,242,242,0.5) 0px 1px 2px;
    font-size: 10.5pt;
    min-width: 200px;
}

.popup-submenu-menu-item:open {
    background-color: rgba(255,255,255,0.3);
}

.popup-sub-menu {
    background-gradient-start: rgba(80,80,80,0.2);
    background-gradient-end: rgba(80,80,80,0.2);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.2);
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: rgba(0,0,0,0.2);
    border-width: 0px;
}

.popup-combo-menu {
    background-color: rgba(243,243,243,0.99);
    padding: 1em 0em;
    color: #525252;
    font-size: 10.5pt;
    border: 0px solid rgba(255,255,255,0.0001);
    border-radius: 0px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    padding: .2em 1.30em;
    spacing: 2em;
    border: 0px solid rgba(255,255,255,0.0001);
    border-radius: 0px;
}

.popup-menu-item:active {
    border: 0px solid rgba(255,255,255,0.0001);
    text-shadow: black 0px 4px 4px;
    border-radius: 0px;
    box-shadow: inset 0px 0px 2px 2px rgba(255,255,255,0.0001);
    background-gradient-start: rgba(166,166,166,0.0001);
    background-gradient-end: rgba(166,166,166,0.0001);
    background-gradient-direction: vertical;

    color: #fff;
}

.popup-menu-item:insensitive {
    color: #999;
}

.popup-image-menu-item {
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    -gradient-height: 1px;
    -gradient-start: rgba(8,8,8,0);
    -gradient-end: rgba(144,177,192,0.9);
    -margin-horizontal: 1.5em;
    height: 1em;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color:rgba(0,0,0,0.2);
    -slider-border-color: rgba(255,255,255,0.5);
    -slider-active-background-color: rgba(0,0,0,0.3);
    -slider-active-border-color: rgba(255,255,255,0.5);
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 12px;
    height: 12px;
}

.toggle-switch-us {
    background-gradient-start: rgba(243,243,243,0.55);
    background-gradient-end: rgba(243,243,243,0.55);
    background-gradient-direction: vertical;
    border-radius: 200px;
    border: 1px solid rgba(0,0,0,0.55);


}
.toggle-switch-us:checked {
    background-gradient-start: rgba(0,0,0,0.45);
    background-gradient-end: rgba(0,0,0,0.45);
    background-gradient-direction: vertical;
    border-radius: 200px;
    border: 1px solid rgba(243,243,243,0.55);

}

.toggle-switch-intl {
    background-gradient-start: rgba(243,243,243,0.55);
    background-gradient-end: rgba(243,243,243,0.55);
    background-gradient-direction: vertical;
    border-radius: 200px;
    border: 1px solid rgba(0,0,0,0.55);


}
.toggle-switch-intl:checked {
    background-gradient-start: rgba(0,0,0,0.45);
    background-gradient-end: rgba(0,0,0,0.45);
    background-gradient-direction: vertical;
    border-radius: 200px;
    border: 1px solid rgba(243,243,243,0.55);


}

.nm-menu-item-icons {
    spacing: .5em;
}


/* Buttons */

.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button {
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.65);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 255, 255, 0.2);
    background-gradient-end: rgba(255, 255, 255, 0);
}

.dash-search-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
    background-gradient-start: rgba(255, 255, 255, 0.3);
    background-gradient-end: rgba(255, 255, 255, 0.1);
}

.dash-search-button:selected,
.dash-search-button:focus,
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus {
    border: 2px solid rgba(255,255,255,0.65);
}

.dash-search-button:active,
.dash-search-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-gradient-start: rgba(255, 255, 255, 0);
    background-gradient-end: rgba(255, 255, 255, 0.2);
}

/* Panel */

#panel {
    border-image: url("panel-line.png") 15 14 0 0;

    padding-bottom: 2px;
    background-gradient-start: rgba(243,243,243,0.75);
    background-gradient-end: rgba(166,166,166,0.25);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.0001);
    border: 0px solid rgba(255,255,255,0.75);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 0px 0px 0px 0px;

    font-size: 10.5pt;
    height: 2.0em;
}

#panelCenter, #panelRight {
 

    -natural-hpadding: 0px;
    -minimum-hpadding: 0px;
}

#panelLeft {

    -natural-hpadding: 0px;
    -minimum-hpadding: 0px;


}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

.panel-corner {
   -panel-corner-radius: 25px;
    -panel-corner-background-color: rgba(166,166,166,0.25);
    -panel-corner-border-width: 0.05em;
    -panel-corner-border-color: rgba(255,255,255,0.65);
    padding-top: 0.19em;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-border-color: rgba(255,255,255,0.65);
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button {
    -natural-hpadding: 10px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: rgba(54,54,54,0.8);
    text-shadow: rgba(242,242,242,0.5) 0px 1px 2px;

}

.panel-button:hover {
      color: rgba(255,255,255,0.9);
    text-shadow: black 0px 4px 4px;
    border-image: url("button-hover.svg") 0 0 0 0;

}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
     color: rgba(255,255,255,0.9);
    text-shadow: black 0px 4px 4px;



}

.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {

    color: white;
}
.panel-button:hover > .system-status-icon,
.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: black 0px 4px 4px;

}

.panel-menu {
    -boxpointer-gap: 4px
}

#panelUserMenu {
    spacing: 4px;
}
#panelActivities {


    color: rgba(54,54,54,0.8);
    text-shadow: rgba(242,242,242,0.5) 0px 1px 2px;



}

#panelActivities:hover {

      color: rgba(255,255,255,0.9);
    text-shadow: black 0px 4px 4px;
}
.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 1px solid rgba(255,255,255,0.0001);
    border-radius: 6px;
    width: 48pt;
    height: 48pt;
}

.status-chooser-user-icon:hover {

    border: 1px solid  rgba(144,177,192,0.6);
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    background-color: rgba(245,245,245,0.7);
    padding: .4em 0em;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #363636;
    font-size: 10.5pt;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 1.0em;
}

/* Overview */

#overview {
    background-gradient-start: rgba(255,255,255,0.12);
    background-gradient-end: rgba(255,255,255,0.12);
    background-gradient-direction: horizontal;
    border-image: url("overview.svg") 10 10 0 2;
    background-size: contain;
    spacing: 0.001em;
}

.window-caption {
    color: rgba(20,20,20,0.99);
    text-shadow: white 0px 1px 2px;
    width: 250px;
    text-align: center;
}

.workspace-controls {
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border: 1px solid rgba(128, 128, 128, 0.0001);
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
    background-color: rgba(0, 0, 0, 0.0001);
    padding: 8px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}

.workspace-thumbnails {
    spacing: 7px;
}

.workspace-thumbnail-indicator {
    background-gradient-start: rgba(243,243,243,0.15);
    background-gradient-end: rgba(243,243,243,0.15);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.55);
    border-radius: 3px;
}

.window-caption {
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-radius: 5px;
    -shell-caption-spacing: 20px;
    padding-top: 2px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
}

.window-close {
    border: 1px solid rgba(166,166,166,0.85);
    border-radius: 200px;
    background-image: url("close-window.svg");
    background-size: 44px;
    height: 30px;
    width: 30px;
    -shell-close-overlap: 20px;
    background-color: rgba(240, 240, 240, 0.35);
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}


/* Dash */

#dash {

border-image: url("dock.png") 0 0 15 15;

    border-radius: 0px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 9pt;
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 6px 0px 0px 6px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.placeholder {
    background-image: url("dash-placeholder.svg");
    background-size: contain;
    height: 24px;
}

#viewSelector {
    spacing: 1em;
    font-size: 10pt;
}

#viewSelectorTabBar {
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-radius: 0px 0px 9px 9px;
    font-size: 10.5pt;

    padding: 4px 4px;
}

#searchArea {
    background-gradient-start: rgba(255,255,255,0.0001);
    background-gradient-end: rgba(255,255,255,0.0001);
    background-gradient-direction: vertical;
    border: 0px solid rgba(0,0,0,0.0001);
    border-radius: 6px 0px 0px 6px;
    padding-right: 25px;
    padding-left: 4px;
}

#searchEntry {
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    color: rgba(54,54,54,0.7);;
    border-radius: 0px 0px 9px 9px;
    padding: 6px 12px;
    text-align: center;
    font-size: 0.99em;

    caret-color: rgba(54,54,54,0.5);
    caret-size: 1px;
    width: 135px;
}

#searchEntry:focus,
#searchEntry:hover {
    color: rgba(54,54,54,0.9);
}

#searchEntry:hover {
    transition-duration: 300;
}

#searchEntry:focus {

    color: rgba(54,54,54,0.7);
    font-weight: bold;
    transition-duration: 0;
}

.search-entry-icon {
    icon-size: 1.3em;
    color: rgba(54,54,54,0.5);
}

.view-tab-title {
    color: rgba(54,54,54,0.5);
    font-weight: bold;
    padding: 0px 0.75em;
    height: 1.5em;
}

.view-tab-title:hover {
     padding-bottom: 30px 60px 30px;
    border-image: url("tab-hover.svg") 0 0 15 0;
    color: rgba(54,54,54,0.7);
}

.view-tab-title:selected {
    color: rgba(54,54,54,0.99);


}

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    background-gradient-start: rgba(255,255,255,0.1);
    background-gradient-end: rgba(255,255,255,0.01);
    background-gradient-direction: horizontal;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 12px;
    spacing: 4px;
    color: white;
    text-shadow: black 0px 2px 4px;
    font-size: .8em;
}

.search-section-results {
    color: #ffffff;
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

/* Text labels are an odd number of pixels tall. The uneven top and bottom
 * padding compensates for this and ensures that the label is vertically
 * centered */
.dash-search-button {
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-radius: 5px;
    color: rgba(54,54,54,0.9);
    padding-top: 2px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
}

.dash-search-button:selected {
    background-gradient-start: rgba(243,243,243,0.75);
    background-gradient-end: rgba(243,243,243,0.55);
    background-gradient-direction: vertical;
    color: rgba(54,54,54,0.9);
}
.dash-search-button:hover {
    background-gradient-start: rgba(243,243,243,0.75);
    background-gradient-end: rgba(243,243,243,0.55);
    background-gradient-direction: vertical;
    color: rgba(54,54,54,0.5);
}

.dash-search-button-label {

    padding-right: 8px;
    padding-left: 8px;
    color: rgba(54,54,54,0.9);
    font-size: 10pt;
}

.dash-label {
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-radius: 5px 5px 5px 5px;

    padding-top: 2px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    width: 120px;
    text-align: center;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    -x-offset: 1px;
}

/* Apps */

.icon-grid {


    padding: 30px 30px 30px 30px;
    spacing: 26px;
    -shell-grid-horizontal-item-size: 88px;
    -shell-grid-vertical-item-size: 88px;
}

.icon-grid .overview-icon {
    icon-size: 76px;
}

.all-app {
    border-radius: 3px;
    padding: 16px 16px 16px 16px;
    spacing: 10px;
}

.all-app:rtl {
    padding-right: 16px;
    padding-left: 25px;
}

.app-filter {
    border: 1px solid rgba(255, 255, 255, 0.00001);
    background-color: rgba(85, 85, 85, 0.00001);
    color: rgba(255,255,255,0.7);
    padding-right: 12px;
    padding-left: 12px;
    height: 1.9em;
}

.app-filter:hover {
    border-radius: 9px;
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    color: rgba(54,54,54,0.9);
}

.app-filter:selected {
    border-radius: 9px;
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    color: rgba(54,54,54,0.9);
}

.app-filter:selected:rtl {
    border-radius: 9px;
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    color: rgba(54,54,54,0.9);
}

.app-filter:focus {
    outline: 1px solid rgba(255,255,255,0.0001);
}

.dash-item-container > .app-well-app {

    padding: 5px;
}

.remove-favorite-icon {
    color: #a0a0a0;
}

.remove-favorite-icon:hover {
    color: white;
    icon-shadow: black 0px 2px 2px;
}
.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border-radius: 6px;
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.0001);
    font-size: 8.5pt;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    transition-duration: 100;
    text-align: center;
}

.app-well-app.running > .overview-icon {

    background-image: url("glow.svg");
    text-shadow: black 0px 2px 2px;

 
    border: 1px solid rgba(166,166,166,0.55);
    border-radius: 200px;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    text-shadow: black 0px 2px 2px;

 
    border: 1px solid rgba(166,166,166,0.55);
    border-radius: 200px;

    transition-duration: 100;
}

/* Contacts */

.contact-grid {
    spacing: 36px;
    -shell-grid-horizontal-item-size: 272px; /* 2 * -shell-grid-horizontal-item-size + spacing */
    -shell-grid-vertical-item-size: 118px;
}

.contact {
    width: 272px; /* Same width as two normal results + spacing */
    height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    transition-duration: 100;
}

.contact-content {
    border-radius: 7px;
    padding: 8px;
    width: 232px;
    height: 84px;
    background-color: rgba(0.0, 0.0, 0.0, 0.2);
    color: white;
}

.contact-icon {
    border-radius: 4px;
}

.contact-details {
    padding: 0px 6px 22px 10px;
}

.contact-details-alias {
    font-size: 18px;
    padding-bottom: 8px;
}

.contact-details-status-icon {
    padding-right: 4px;
}

.contact:hover {
    background-color: rgba(255,255,255,0.1);
    transition-duration: 100;
}

.contact:focus,
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon,
.contact:selected,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    background-color: rgba(255,255,255,0.33);
}

/* LookingGlass */

#LookingGlassDialog
{
    border-radius: 9px;
    background-gradient-start: rgba(243,243,243,0.95);
    background-gradient-end: rgba(243,243,243,0.75);
    background-gradient-direction: vertical;
    border: 3px solid rgba(255,255,255,0.25);
    color: rgba(54,54,54,0.9);
    spacing: 4px;
    padding: 4px;


}

#LookingGlassDialog > #Toolbar
{
    border-radius: 9px;
    background-gradient-start: rgba(166,166,166,0.85);
    background-gradient-end: rgba(166,166,166,0.85);
    background-gradient-direction: vertical;
    border: 3px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);

    font-weight: bold;
    padding: 0px;
}

#LookingGlassDialog .labels {


  spacing: 4px;

}

#LookingGlassDialog .notebook-tab {
    border-radius: 9px;
    background-gradient-start: rgba(243,243,243,0.95);
    background-gradient-end: rgba(243,243,243,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.5);
  padding: 8px;
}

#LookingGlassDialog .notebook-tab:hover {
    border-radius: 9px;


    color: rgba(54,54,54,0.9);
    padding: 8px;

}

#LookingGlassDialog .notebook-tab:selected {

    padding: 8px;
    border-radius: 9px;

    color: rgba(54,54,54,0.9);

}

#LookingGlassDialog .lg-inspector-title {

    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{

    color: rgba(54,54,54,0.9);
}

.lg-dialog StEntry
{
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    color: rgba(0,0,0,0.5);
    spacing: 4px;
}

.lg-obj-inspector-title
{
    border-radius: 9px;
    background-gradient-start: rgba(166,166,166,0.85);
    background-gradient-end: rgba(166,166,166,0.85);
    background-gradient-direction: vertical;
    border: 3px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
    font-weight: bold;
    padding: 0px 8px;
    spacing: 4px;
}

.lg-obj-inspector-button
{
    border-radius: 200px;
    background-gradient-start: rgba(243,243,243,0.95);
    background-gradient-end: rgba(243,243,243,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.5);
    padding: 8px;

}

.lg-obj-inspector-button:hover
{
    color: rgba(54,54,54,0.9);
}

.lg-dialog .shell-link
{
  color: rgba(30,144,255,0.5);
}
.lg-dialog .shell-link:hover
{
  color: rgba(30,144,255,0.9);
}

#LookingGlassDialog StBoxLayout#EvalBox
{
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 9px;
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
    border-radius: 9px;
    background-gradient-start: rgba(166,166,166,0.85);
    background-gradient-end: rgba(166,166,166,0.85);
    background-gradient-direction: vertical;
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.5);

    spacing: 6px;
}

#lookingGlassExtensions {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 4px;
    padding: 4px;
}

#lookingGlassExtensions#ResultsArea {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 4px;
    padding: 4px;


    color: rgba(54,54,54,0.5);

}


.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 4px;

    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;

}

.lg-extension-actions {
    
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background-gradient-start: rgba(243,243,243,0.95);
    background-gradient-end: rgba(243,243,243,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.5);

    border-radius: 9px;
    padding: 6px;

}

/* Calendar popup */

#calendarArea {
    /* this is the width of the entire popup */
    min-width: 600px;
}

.calendar-vertical-separator {
    -stipple-width: 1px;
    -stipple-color: rgba(255,255,255,0.2);
    width: 1.5em;
}

#calendarPopup {
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 4px 4px 4px 4px;
    color: rgba(54,54,54,0.9);
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: rgba(54,54,54,0.9);
    font-size: 7.5pt;
    padding: 2px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 4px;
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-color: rgba(255,255,255,0.1);
}
.calendar-change-month-back:active {
    background-color: rgba(255,255,255,0.1);
}

.calendar-change-month-forward {
    width: 20px;
    height: 20px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 4px;
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-color: rgba(255,255,255,0.1);
}
.calendar-change-month-forward:active {
    background-color: rgba(255,255,255,0.1);
}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-size: 10.5pt;
    color: rgba(54,54,54,0.9);
    font-weight: bold;
}

.calendar-day-base {

    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-color: rgba(166,166,166,0.85);
}

.calendar-day-base:active {
    background-color: rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
}

.calendar-day-heading {
    color: rgba(54,54,54,0.9);
}

.calendar-week-number {
    color: rgba(54,54,54,0.9);
    font-weight: bold;
}

.calendar-day {


        background-color: rgba(255,255,255,0.4);
        border: 1px solid rgba(0,0,0,0.1);
        color: rgba(54,54,54,0.6);
	font-weight: bold;
	border-radius: 20px;
	text-shadow: rgba(255,255,255,0.5) 0px -2px 2px;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {

}


.calendar-today {

    background-color: rgba(166,166,166,0.85);
    text-shadow: black 0px 2px 2px;
    color: rgba(54,54,54,0.9);
    font-weight: bold;
}

.calendar-other-month-day {
    color: #999;
}

.calendar-day-with-events {
    font-weight: bold;
    color: rgba(54,54,54,0.5);
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.75em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    font-size: 9pt;
    font-weight: bold;
    color: rgba(54,54,54,0.9);
    padding-left: 0.3em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    font-size: 9pt;
    color: rgba(54,54,54,0.9);
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 9pt;
    color: rgba(54,54,54,0.9);
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    font-size: 9pt;

    color: rgba(54,54,54,0.9);
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #6599FF;
}
/* Message Tray */
#message-tray {
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(243,243,243,0.45);
    background-gradient-direction: vertical;
    color: rgba(54,54,54,0.5);
   text-shadow: rgba(255,255,255,0.5) 0px 1px 2px;
    border: 1px solid rgba(166,166,166,0.85);
    border-left: 0px;
    border-right: 0px;
    border-top: 1px;
    border-bottom: 0px;
    border-radius: 0px;
    height: 32px;
    padding-right: 6px;
    padding-left: 6px;


}

#notification {
    font-size: 11pt;
    background-gradient-start: rgba(243,243,243,0.95);
    background-gradient-end: rgba(243,243,243,0.75);
    background-gradient-direction: vertical;
    color: rgba(54,54,54,0.5);
   text-shadow: rgba(255,255,255,0.5) 0px 1px 2px;
    border: 1px solid rgba(255,255,255,0.85);
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-radius: 9px 9px 0px 0px;
    padding: 8px 8px 4px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    -arrow-border-radius: 9px;
    -arrow-background-color: rgba(243,243,243,0.85);
    -arrow-border-width: 6px;
    -arrow-border-color: rgba(166,166,166,0.85);
    -arrow-base: 0px;
    -arrow-rise: 15px;
    color: rgba(54,54,54,0.5);
}

.summary-boxpointer #notification {
    border-radius: 9px;
    background: rgba(0,0,0,0) !important;
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
    padding-top: 12px;
    padding-bottom: 12px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
    -st-vfade-offset: 24px;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button {

    border-radius: 20px;
    padding: 4px 8px;

}

.notification-button:hover,
.notification-button:selected {

    color: rgba(255,255,255,0.8)

}

.notification-button:focus {
    border: 1px solid rgba(0,0,0,0.0001);
    background-gradient-start: rgba(166,166,166,0.85);
    background-gradient-end: rgba(166,166,166,0.85);
    background-gradient-direction: vertical;

}

.notification-icon-button {
    border-radius: 5px;
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 16px;
    padding: 8px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 18px;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;

    color: #525252;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 255, 255, 0.1);
    background-gradient-end: rgba(255, 255, 255, 0);

    color: #525252;
}

.hotplug-resident-mount-label {
    color: #525252;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #363636;
}

.chat-log-message {
    color: #525252;
}

.chat-group-sent, .chat-group-meta {
    padding: 8px 0;
}

.chat-received {
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    padding-left: 18pt;
    color: #525252;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 18pt;
}

.chat-meta-message {
    padding-left: 4px;
    font-size: 9pt;
    color: #363636;
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.subscription-message {
    font-style: italic;
}

#notification StEntry {
    padding: 4px;
    color: rgba(54,54,54,0.7);
    selected-color: rgba(255,255,255,0.5);
    background-gradient-start: rgba(243,243,243,0.95);
    background-gradient-end: rgba(243,243,243,0.75);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.0001);
    border: 3px solid rgba(166,166,166,0.85);

    border-radius: 6px;
    transition-duration: 300;

    caret-color: rgba(54,54,54,0.7);
    caret-size: 1px;
}

#notification StEntry:focus {
    border: 3px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(243,243,243,0.95);
    background-gradient-end: rgba(243,243,243,0.75);
    background-gradient-direction: vertical;

    caret-color: rgba(54,54,54,0.7);
    selection-background-color: rgba(255,255,255,0.5);
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 2px 0px 0px 4px;
    height: 36px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {

    color: #363636;
    text-shadow: white 0px 2px 2px;
    padding: 4px 4px;
}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {


}

.summary-source-button:expanded:selected .summary-source {
    background-image: none;
    border-image: none;
}

.summary-source-button:expanded:selected {


}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.summary-source-counter {
    color: #363636;
    background-color: rgba(31,31,31,0.4);
    text-shadow: white 1px 1px 0;
    font-size: 9pt;
    border-radius: 1em;
    min-height: 1em;
    min-width: 1em;
}

.source-title {
    font-size: 9pt;
    font-weight: bold;
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}


/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(219,219,219,0.65);
    background-gradient-end: rgba(219,219,219,0.65);
    background-gradient-direction: vertical;
    border-radius: 9px;
    padding: 30px;

    font-size: 9pt;
    color: 363636;
}

.switcher-list-item-container {
    spacing: 8px;
}


.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0.5);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 0.5);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(219,219,219,0.95);
    background-gradient-end: rgba(219,219,219,0.75);
    background-gradient-direction: vertical;
    border-radius: 9px;
    padding: 8px;
    border-radius: 8px;
}
.switcher-list .item-box:outlined {


}
.switcher-list .item-box:hover {

   border: 1px solid rgba(166,166,166,0.85);

    background-gradient-start: rgba(243,243,243,0.95);
    background-gradient-end: rgba(243,243,243,0.75);
    background-gradient-direction: vertical;

}
.switcher-list .item-box:selected {



}

.switcher-list .thumbnail-box {

    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}

.ripple-box {
    width: 65px;
    height: 65px;
    background-image: url("corner-ripple-ltr.png");
    background-size: contain;
}

.ripple-box:rtl {
    background-image: url("corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #808080;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: 363636;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(219,219,219,0.65);
    background-gradient-end: rgba(219,219,219,0.65);
    background-gradient-direction: vertical;
    border-radius: 9px;
    padding: 20px;
}

.workspace-switcher {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    border: 0px;
    background: rgba(255,255,255,0.3);
    background-image: url("ws-switch-arrow-up.svg");
    background-size: contain;
    border-radius: 8px;
}

.ws-switcher-active-down {
    height: 100px;
    border: 0px;
    background: rgba(255,255,255,0.3);
    background-image: url("ws-switch-arrow-down.svg");
    background-size: contain;
    border-radius: 8px;
}

.ws-switcher-box {
    height: 96px;
    border: 2px solid rgba(255,255,255,0.1);
    background: transparent;
    border-radius: 8px;
}


/* Modal Dialogs */

/* Dialog Subject Text Style */
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
    font-size: 14pt;
    font-weight: bold;
    color: rgba(54,54,54,0.9);
}

.modal-dialog {
    font-size: 12pt;
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(219,219,219,0.65);
    background-gradient-end: rgba(219,219,219,0.65);
    background-gradient-direction: vertical;
    border-radius: 12px;


    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    border: 1px solid rgba(166,166,166,0.85);
    background-gradient-start: rgba(166,166,166,0.5);
    background-gradient-end: rgba(166,166,166,0.5);
    background-gradient-direction: vertical;
    border-radius: 3px 3px 9px 9px;
    spacing: 21px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
    padding-top: 0px;
}

.modal-dialog-button {
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    color: rgba(54,54,54,0.7);;
    border-radius: 0px 0px 9px 9px;
    padding: 6px 12px;

}
.modal-dialog-button:hover {

    background-gradient-start: rgba(243,243,243,0.75);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;

}
.modal-dialog-button:disabled {
    background-gradient-start: rgba(243,243,243,0.25);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
}

.modal-dialog-button:focus {
    background-gradient-start: rgba(243,243,243,0.75);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
}

/* Run Dialog */

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 10.5pt;
    font-weight: bold;
    width: 23em;
    padding: 5px 15px 5px;
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(166,166,166,0.75);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-radius: 6px;
    selection-background-color: rgba(255,255,255,0.0001);
    selected-color: rgba(143,176,191,0.85);
}

.run-dialog {
    border-radius: 9px;

    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: rgba(219,219,219,0.5);
}

.flashspot {
    background-color: rgba(219,219,219,0.7);
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    padding-left: 17px;
    padding-bottom: 20px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border: 2px solid rgba(54,54,54,0.0001);
    border-radius: 5px;
    width: 32px;
    height: 32px;
}

.end-session-dialog-shutdown-icon {
    color: rgba(54,54,54,0.9);
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #525252;
}

.end-session-dialog-app-list-item:hover {
    color: #363636;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: rgba(54,54,54,0.7);
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.mount-question-dialog-subject {
    max-width: 500px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #525252;
}

.show-processes-dialog-app-list-item:hover {
    color: #363636;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* Password or Authentication Dialog */
.prompt-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.prompt-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.prompt-dialog-message-layout {
    spacing: 16px;
}

.prompt-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: rgba(54,54,54,0.9);
}

.prompt-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.prompt-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.prompt-dialog-password-entry {


    padding: 5px 15px 5px;
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(166,166,166,0.75);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-radius: 6px;
    selection-background-color: rgba(255,255,255,0.0001);
    selected-color: rgba(166,166,166,0.85);
    font-size: 10.5pt;
    font-weight: bold;


}

.prompt-dialog-password-entry:focus {
    border: 1px solid rgba(144,177,192,0.0001);
}

.prompt-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #4DFFA6;
    padding: 0 4px;
}

.prompt-dialog-error-label {
    font-size: 10pt;
    color: #ffff00;
    padding-bottom: 8px;
}

.prompt-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.prompt-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

/* Polkit Dialog */

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #ff0000;
}

/* Network Agent Dialog */

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
    border: 0px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(219,219,219,0.25);
    background-gradient-end: rgba(219,219,219,0.25);
    background-gradient-direction: vertical;
    border-radius: 0px;
}

.keyboard-layout {
    spacing: 10px;
    padding: 20px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    border: 1px solid rgba(166,166,166,0.85);
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(219,219,219,0.95);
    background-gradient-end: rgba(219,219,219,0.75);
    background-gradient-direction: vertical;
    border-radius: 12px;
    font-size: 14pt;
    font-weight: bold;
}

.keyboard-key:grayed {
   color: #808080;
   border-color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
    color: rgba(54,54,54,0.9);
    border: 1px solid rgba(166,166,166,0.85);
    background: rgba(250,250,250,1.0);
}

.keyboard-key:active {
    color: rgba(54,54,54,0.9);
    background: rgba(250,250,250,1.0);
    border: 1px solid rgba(166,166,166,0.85);
}

.keyboard-subkeys {
    color: rgba(54,54,54,0.9);
    padding: 5px;
    -arrow-border-radius: 9px;
    -arrow-background-color: rgba(219,219,219,0.85);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(166,166,166,0.85);
    -arrow-base: 0px;
    -arrow-rise: 15px;
    -boxpointer-gap: 5px;
}


/* Login Dialog */

.login-dialog-title {
    font-size: 14pt;
    font-weight: bold;
    color: #666666;
    padding-bottom: 2em;
}

.login-dialog {
    border-radius: 16px;
    min-height: 150px;
    max-height: 700px;
    min-width: 350px;
}

.login-dialog-prompt-fingerprint-message {
    font-size: 10.5pt;
}

.login-dialog-user-list-view {
    -st-vfade-offset: 1em;
}

.login-dialog-user-list {
    spacing: 12px;
}

.login-dialog-user-list-item {
    color: #666666;
}

.login-dialog-user-list-item:ltr {
    padding-right: 1em;
}

.login-dialog-user-list-item:rtl {
    padding-left: 1em;
}

.login-dialog-user-list-item .login-dialog-user-list-item-name {
    font-size: 20pt;
    padding-left: 1em;
    color: #666666;
}

.login-dialog-user-list-item:hover .login-dialog-user-list-item-name {
    color: #363636;
}

.login-dialog-user-list-item:focus .login-dialog-user-list-item-name {
    color: #363636;
    text-shadow: white 0px 2px 2px;
}

.login-dialog-user-list-item-vertical-layout {
    spacing: 2px;
}

.login-dialog-user-list-item .login-dialog-user-list-item-focus-bin {
    background-gradient-start: rgba(219,219,219,0.25);
    background-gradient-end: rgba(219,219,219,0.25);
    background-gradient-direction: vertical;
    height: 2px;
}

.login-dialog-user-list-item:focus .login-dialog-user-list-item-focus-bin {
    background-gradient-start: rgba(219,219,219,0.25);
    background-gradient-end: rgba(219,219,219,0.25);
    background-gradient-direction: vertical;
}

.login-dialog-user-list-item-icon {
    border: 2px solid rgba(0,0,0,0.0001);
    border-radius: 9px;
    width: 64px;
    height: 64px;
}

.login-dialog-not-listed-button {
    padding-top: 2em;
}
.login-dialog-not-listed-label {
    font-size: 14pt;
    font-weight: bold;
    color: #666666;
}

.login-dialog-not-listed-button:hover .login-dialog-not-listed-label {
    color: white;
}

.login-dialog-prompt-layout {
    padding-bottom: 32px;
}
.login-dialog-prompt-label {
    color: white;
    font-size: 20pt;
}

.login-dialog-prompt-entry {
    font-size: 10.5pt;
    font-weight: bold;
    padding: 4px 14px 4px;
    color: rgba(54,54,54,0.9);
    background-gradient-start: rgba(166,166,166,0.75);
    background-gradient-end: rgba(166,166,166,0.75);
    background-gradient-direction: vertical;
    border: 1px solid rgba(243,243,243,0.65);
    border-radius: 6px;
    caret-color: rgba(54,54,54,0.9);
    caret-size: 1px;
    width: 15em;
}

.login-dialog-prompt-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #999;
}

.login-dialog-prompt-entry:insensitive {
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(54,54,54,0.2);
}

.login-dialog-session-list {
    color: rgba(54,54,54,0.9);
    font-size: 10.5pt;
}

.login-dialog-session-list-button {
    padding: 4px;
}

.login-dialog-session-list-button:focus {
    background-color: rgba(219,219,219,0.85);
}

.login-dialog-session-list-button:active {
    background-color: rgba(219,219,219,0.95);
}

.login-dialog-session-list-button:hover {
    font-weight: bold;
}

.login-dialog-session-list-scroll-view {
    background-gradient-start: rgba(0,0,0,0.15);
    background-gradient-end: rgba(0,0,0,0.15);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 2px 4px rgba(31,31,31,0.0001);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.0001);
    padding: .5em;
}

.login-dialog-session-list-item:focus {
    background-color: rgba(219,219,219,0.35);
}

.login-dialog-session-list-triangle {
    padding-right: .5em;
}

.login-dialog-session-list-item-box {
    spacing: .25em;
}

.login-dialog-session-list-item-dot {
    width: .75em;
    height: .75em;
}

/*systemMonitor extensions*/

.extension-systemMonitor-container {
    spacing: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-top: 4px;

}

.extension-systemMonitor-indicator-area {
    background-color: rgba(0,0,0,0.0001);
    border: 1px solid rgba(0,0,0,0.0001);
    border-radius: 3px;
    width: 100px;
    height: 30px;
    -grid-color: #999999;
    -cpu-total-color: rgb(0,154,62);
    -cpu-user-color: rgb(69,154,0);
    -cpu-sys-color: rgb(255,253,81);
    -cpu-iowait-color: rgb(210,148,0);
    -mem-user-color: rgb(210,148,0);
    -mem-cached-color: rgb(90,90,90);
    -mem-other-color: rgb(205,203,41);
    padding-left: 7px;
    padding-right: 7px;


}

#dock {


border-image: url("dock2.png") 0 0 0 0;
    border: 1px solid rgba(0,0,0,0.0001);
    border-radius: 6px 0px 0px 6px;
}

.dock-menu {

    font-size: 12px
}

/*axemenu*/

.applications-menu-favorites-box {
    border-radius: 9px;
    color: rgba(54,54,54,0.7);

    padding-top: 15px;
    padding-left: 15px;
    padding-right: 2px;
    padding-bottom: 2px;
}
.axemenu-icon {

    padding-right: 10px;
}
.applications-menu-favorites-button {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
}

.applications-menu-favorites-button:hover {
    text-shadow: white 0px 2px 3px;
    color: rgba(54,54,54,0.99);
    font-weight: bold;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255,255,255,0.7);
    background-gradient-end: rgba(255,255,255,0.0001);

    border-radius: 30px;
}

.places-box {


    padding-top: 2px;
    padding-left: 15px;
    padding-right: 2px;
    padding-bottom: 0px;
}
.places-button {

    padding-top: 2px;
    padding-left: 15px;
    padding-right: 2px;
    padding-bottom: 0px;
}

.categories-box {
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 2px;
    padding-bottom: 0px;
}
.main-box {
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 2px;
    padding-bottom: 0px;
}
.applications-box {
    padding-right: 2px;
}
.applications-scrollbox {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.categories-app-box {

}
.rightpane-box {


    padding: 10px;

}
.applications-title {
	padding-top: 15px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: medium;
	font-style: normal;
	font-weight: bold;
}

.favorites-title {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: medium;
	font-style: normal;
	font-weight: bold;
}

.favorites-title:hover {
    font-weight: bold;
}
.favorites-button-label {
    padding-left: 10px;
}
.favorites-button-box {
    padding-left: 0px;
}
.application-button {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.application-button:hover,.category-button:hover,
.application-button-selected {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    text-shadow: white 0px 2px 3px;
    color: rgba(54,54,54,0.99);
    font-weight: bold;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255,255,255,0.7);
    background-gradient-end: rgba(255,255,255,0.0001);
    border-radius: 30px;
}

.application-button-label { 
    padding-left: 5px;
}

.category-button {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px; 
    font-weight: normal;
}

.category-button-selected,.category-button:hover {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px; 
    text-shadow: white 0px 2px 3px;
    color: rgba(54,54,54,0.99);
    font-weight: bold;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255,255,255,0.7);
    background-gradient-end: rgba(255,255,255,0.0001);

    border-radius: 30px;
}
.favswich-button {
    width: 150px;
    font-weight: bold;
}
.leftpane-box {
    border-radius: 9px 9px 9px 9px;
    color: rgba(54,54,54,0.7);
    background-gradient-start: rgba(243,243,243,0.65);
    background-gradient-end: rgba(243,243,243,0.65);
    background-gradient-direction: vertical;
    border: 1px solid rgba(255,255,255,0.85);
    border-right: 0px;
    padding: 10px;
}
.category-button-label { 
    padding-left: 5px;
}
.category-button-button:hover {
    background-color: #969696;
    border-radius: 8px;
}
.selected-app-box {
    padding-top: 0px;
    padding-left: 28px;
    padding-right: 30px;
    padding-bottom: 15px; 
    height: 10px;
    text-align: right;
}
.selected-app-title {
    font-weight: bold;
    font-size: small;
}

.selected-app-description {
    max-width: 220px;
}
.search_box {
    border-radius: 9px 9px 9px 9px;
    color: rgba(54,54,54,0.7);
    background-gradient-start: rgba(243,243,243,0.65);
    background-gradient-end: rgba(243,243,243,0.65);
    background-gradient-direction: vertical;
    border: 1px solid rgba(255,255,255,0.85);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;



}

.pane-title {
    font-weight: bold;
    color: rgba(54,54,54,0.9);
    border: 1px solid rgba(0,0,0,0.25);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-top: 0px;
    border-radius: 0px 0px 0px 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 7px;
    font-size: 10pt;
}

.config-menu-dialog-box {
    font-size: 11pt;
}
.config-dialog-label {   
}
.config-dialog-header {
    font-size: normal;
    font-weight: bold;
    padding-bottom: 10px;
}
.config-dialog-entry {
    padding: 4px;
    border-radius: 4px;
    color: black;
    selected-color: black;
    border: 1px solid rgba(245,245,245,0.2);
    background-gradient-direction: vertical;
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
    caret-color: #a8a8a8;
    width: 55px;
    font-size: small;
}
.config-dialog-entry.sysapps {
    width: 400px;
}
