/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software;you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY;without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program;if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* Text Styles */

/* default text style */
stage {
    font-family: cantarell, sans-serif;
}

/* links */
.shell-link {
    color: #0851a6;
    text-decoration: underline;
}

.shell-link:hover {
    color: #0065d9;
}

/* Scroll Bars */

StScrollBar
{
  padding: 0px;
}

StScrollView.vfade
{
  -st-vfade-offset: 68px;/*fade threshold for app menu, chat boxes, etc.*/
}

StScrollView.hfade
{
    -st-hfade-offset: 68px;
}

StScrollView StScrollBar
{
  min-width: 12px;
  min-height: 20px;
}


StScrollBar StBin#trough {
    border-image: url('assets/scrollbar-trough.svg') 4 4 4 4 stretch;
}

StScrollBar StButton#vhandle
{	
    border-image: url('assets/scrollbar-vhandle.svg') 5 5 6 6 stretch;
}

StScrollBar StButton#hhandle
{
    border-image: url('assets/scrollbar-hhandle.svg') 5 5 6 6 stretch;
}

StScrollBar StButton#vhandle:hover
{
    border-image: url('assets/scrollbar-vhandle-hover.svg') 5 5 6 6 stretch;
}

StScrollBar StButton#hhandle:hover
{
    border-image: url('assets/scrollbar-hhandle-hover.svg') 6 6 5 5 stretch;
}

/* Check Boxes */

.check-box ShellGenericContainer {
    spacing: .8em;
}

.check-box StBin {
    width: 24px;
    height: 22px;
    background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.svg");
}

/* PopupMenu */

.popup-menu-boxpointer { /*menus*/
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0px;
    background-color: #efefef;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
}

.popup-menu {
    color: #555;
    font-size: 10pt;
    min-width: 200px;
}

.popup-submenu-menu-item:open { /*expander item*/
}

.popup-sub-menu {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #dadada;
    border-radius: 0px;
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu .popup-menu-item:hover {
    color: #424242;
    background-color: #99d0e2;
    transition-duration: 300;
}

.popup-sub-menu StScrollBar {
}

.popup-sub-menu StScrollBar StBin#trough {
}

.popup-sub-menu StScrollBar StBin#vhandle {
}

.popup-combo-menu { /*status-dropdown menu*/
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    color: #595959;
    font-size: 10.0pt;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 0em;
}

.popup-menu-item {
    padding: .4em 1.5em;
    spacing: 1em;
}

.popup-menu-item:active {
    color: #424242;
    background-color: #99d0e2;
    border-radius: 0px;
    transition-duration: 300;
}

.popup-menu-item:insensitive {
    color: rgba(0,0,0,0.3);
}

.popup-image-menu-item {
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background-color: #dadada;
    height: 0.1em;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 3px;
    -slider-background-color: #808080; /*trough-right*/
    -slider-border-color: transparent;
    -slider-active-background-color: #30b4e0; /*trough-left*/
    -slider-active-border-color: #30b4e0;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
    color: rgba(55,205,255,0.7);
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item { /*eg:internet-devices*/
    /*font-weight: bold;*/
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 4.5em;
    height: 1.5em;
}

.toggle-switch-us {
    background-image: url("assets/toggle-off.svg");
}
.toggle-switch-us:checked {
    background-image: url("assets/toggle-on.svg");
}

.toggle-switch-intl {
    background-image: url("assets/toggle-off-intl.svg");
}
.toggle-switch-intl:checked {
    background-image: url("assets/toggle-on-intl.svg");
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* Buttons */

/*
.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button {
    font-weight: bold;
    border: 1px solid #8b8b8b;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 255, 255, 0.2);
    background-gradient-end: rgba(255, 255, 255, 0);
}

.dash-search-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
    background-gradient-start: rgba(255, 255, 255, 0.3);
    background-gradient-end: rgba(255, 255, 255, 0.1);
}

.dash-search-button:selected,
.dash-search-button:focus,
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus {
    border: 2px solid #8b8b8b;
}

.dash-search-button:active,
.dash-search-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-gradient-start: rgba(255, 255, 255, 0);
    background-gradient-end: rgba(255, 255, 255, 0.2);
}
*/

/* Panel */

#panel {
    color: #333;
    background-color: #ddd;
    border: 1px #ccc; /*because border-bottom doesn't work*/
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 10.5pt;
    font-weight: bold;
    height: 1.86em;
}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

/*
.panel-corner {
    -panel-corner-radius: 10px;
    -panel-corner-background-color: black;
    -panel-corner-inner-border-width: 2px;
    -panel-corner-inner-border-color: transparent;
    -panel-corner-outer-border-width: 1px;
    -panel-corner-outer-border-color: #536272;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-inner-border-color: rgba(255,255,255,0.8);
}
*/

#appMenu {
    spacing: 4px;
}

/* used for the app menu header only */
.label-shadow {
    color: rgba(255,255,255,0.2); /*active-app-text-shadow*/
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button {
    border: 1px transparent;/*need to keep this for the border under to work properly*/
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #4d4d4d;/*panel-text-colour*/
}

.panel-button:hover {
    color: #333;
}

.panel-button:active,
.panel-button:focus {
    border-image: url('assets/combo-panel.svg') 1 11 1 14 stretch;
}

.panel-button:overview { /*activities button*/
    border-image: url('assets/activities.svg') 4 4 11 9;
    /*transition-duration: 300;  -not supported*/
}

.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
}

.panel-button > .system-status-icon { /*eg. volume icon*/
}

.panel-button:hover > .system-status-icon {
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}

.panel-menu { /*panel-menu-offset*/
    -boxpointer-gap: 0px;
}

/* User Menu */

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: 1em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    border: 1px;/*need this to keep combobox from jumping around*/
    padding: .4em;
}

.status-chooser-user-icon {
    border: 1px solid #000;
    border-radius: 0px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    width: 48pt;
    height: 48pt;
}

.status-chooser-user-icon:hover {
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.8);
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo { /*"Available"*/
    color: #595959;
}

/*.status-chooser-combo.popup-combo-menu {
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0px;
    background-color: #efefef;
    padding: 0px;
    color: #595959;
    font-size: 10.0pt;
}*/

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 1.14em;
}

/*status chooser combo menu*/
.popup-menu-boxpointer .status-chooser-combo {
    padding: 8px;
    border-image: url("assets/combo-normal.svg") 5 17 5 17;
}

.status-chooser-combo > StLabel { /*dropdown arrow*/
    color: transparent;
}

.popup-menu-boxpointer .status-chooser-combo:hover {
    border-image: url("assets/combo-hover.svg") 5 17 5 17;
    transition-duration: 300;
}

/* Overview */

#overview {
    spacing: 12px;
    /*in 3.2 no longer works properly*/
    /*now it automatically does a certain dimming and this just goes on top*/
    background-color: rgba(255,255,255,0.5);
}

.workspace-controls {
    visible-width: 32px; /*Amount visible before hovering*/
}

.workspace-thumbnails-background {
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    background-color: #efefef;
    padding: 8px;
}

.workspace-thumbnails-background:rtl {
}

.workspace-thumbnails {
    border: 1px solid rgba(0,0,0,0.1);
    border-right: 0px;
    border-radius: 0px;
    spacing: 7px;
}

.workspace-thumbnail-indicator { /*actual thumbnails*/
    /*outline: 1px solid rgba(0, 0, 0, 0.8); outer*/
    border: 2px rgba(48,180,224,0.8); /*inner*/
    /*background-color: rgba(48,180,224,0.3);
    box-shadow: inset -1px 0px 0px 0px rgba(255,255,255,0.2);*/
}

.window-caption { /*overview-tooltips - not dash*/
    background-color: #202020;
    border-top: 1px rgba(255,255,255,0.2);
    border-radius: 1px;
    box-shadow: inset 0px -2px 0px 0px #33b5e5;
    color: #d8d8d8;
    font-size: 10pt;
    padding: 2px 8px;
    -shell-caption-spacing: 4px;
}

.window-close {
    background-image: url("assets/close-window.svg");
    height: 28px;
    width: 28px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
    -shell-close-overlap: 16px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.window-close:hover,
.window-close:focus {
    background-image: url("assets/close-window-hover.svg");
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0);
    transition-duration: 250;
}

.window-close:pressed,
.window-close:active {
/*
    background-image: url("assets/close-window-pressed.svg");
*/
}

/* Dash */

#dash {
    color: #5f5f5f; /*??*/
    font-size: 10pt;
    padding: 4px 0px;
    border-image: url('assets/dash-under.svg') 10 10 5 5 stretch;
}

#dash:rtl {
    border-image: url('assets/dash-under.svg') 10 10 5 5 stretch;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.placeholder {
    background-image: url("assets/dash-placeholder.svg");
    height: 24px;
}

/*dash app buttons*/

.dash-item-container > .app-well-app {
    padding: 1px 8px;
}

.dash-item-container > .app-well-app > .overview-icon {
    border-image: url('assets/dash-normal.svg') 2 2 0 0 stretch;
}

.dash-item-container .running > .overview-icon {
    border-image: url('assets/dash-running.svg') 11 9 4 4;
}

.dash-item-container > .app-well-app:hover > .overview-icon {
    border-image: url('assets/dash-hover.svg') 2 2 0 0;
    transition-duration: 300;
}

.dash-item-container .running:hover  > .overview-icon {
    border-image: url('assets/dash-running-hover.svg') 11 9 4 4;
    transition-duration: 300;
}

.dash-item-container > .app-well-app:active > .overview-icon,
.dash-item-container .running:active  > .overview-icon{
    border-image: url('assets/dash-running-hover.svg') 11 9 4 4;
    transition-duration: 300;
}

.app-well-menu { /*dash menu (inherits regular menu)*/
    -x-offset: 0px; /*LOOK -fix*/
}

#viewSelector {
    spacing: 1em;
    font-size: 12pt;
}

#viewSelectorTabBar {
    padding: 1em;
    /*spacing: 2px;*/
}

/* Search Box */

#searchArea {
    padding: 0px 24px;
}

#searchEntry {
    padding: 4px;
    color: #595959;
    border-image: url('assets/entry-normal.svg') 3 3 0 5 stretch;
    selection-background-color: rgba(51,181,229,0.45);
    selected-color: #595959; /*selected-text-colour*/
    caret-color: #595959;
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
}

#searchEntry:focus,
#searchEntry:hover {
    border-image: url('assets/entry-active.svg') 3 3 0 5 stretch;
    transition-duration: 300;
}

.search-entry-icon {
    icon-size: 1.4em;
    color: #595959;
}

/* View Tabs */

.view-tab-title {
    border-image: url('assets/tab-normal.svg') 2 2 11 9;
    color: #3d3d3d;
    font-weight: bold;
    padding: 4px 20px;
    height: 1.5em;
    transition-duration: 300;
}

.view-tab-title:last-child {
    border-image: url('assets/tab-last-normal.svg') 0 0 2 2;
}

.view-tab-title:last-child:selected {
    border-image: url('assets/tab-last-selected.svg') 4 4 11 9;
}

.view-tab-title:hover,
.view-tab-title:last-child:hover {
    border-image: url('assets/tab-hover.svg') 0 0 2 2;
    transition-duration: 300;
}

.view-tab-title:active,
.view-tab-title:last-child:active {
    transition-duration: 300;
}

.view-tab-title:selected {
    border-image: url('assets/tab-selected.svg') 4 4 11 9;
    transition-duration: 300;
}

.view-tab-title:selected:hover,
.view-tab-title:last-child:selected:hover {
    border-image: url('assets/tab-selected-hover.svg') 4 4 11 9;
    transition-duration: 300;
}

/* Search Results */

#searchResults {
    padding: 20px 10px 10px 10px;
    background-color: #dfdfdf;
    spacing: 18px;/*NEED THIS!*/
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    color: #595959; /*category headers on search-results*/
    padding: 4px 12px;
    spacing: 4px;
    border: none;
    font-weight: bold;
    font-size: .8em;
}

.search-statustext { /*"searching...", overrules above style"*/
}

.search-section { /*search-results-containers*/
}

.search-section-results {
    color: #595959;
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

/* Text labels are an odd number of pixels tall. The uneven top and bottom
 * padding compensates for this and ensures that the label is vertically
 * centered */
.dash-search-button { /*search-engine-buttons (google, etc)*/
    border-image: url('assets/button-normal.svg') 9 9 9 9;
    padding-top: 4px;
    padding-bottom: 5px;
    height: 30px;
    width: 150px;
    /*color: #fff; need to use label under!*/
}

.dash-search-button:hover {
    border-image: url('assets/app-hover.svg') 7 7 7 7;
    transition-duration: 300;
}

.dash-search-button:selected,
.dash-search-button:active {
}

.dash-search-button-label { /*hover/active not supported?*/
    color: #3d3d3d;
    font-size: 11pt;
}

.dash-label { /*dash tooltips*/
    background-color: #202020;
    border-top: 1px rgba(255,255,255,0.2);
    border-radius: 0px;
    box-shadow: inset 0px -2px 0px 0px #33b5e5;
    color: #d8d8d8;
    padding: 4px;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    -x-offset: 8px;
}

/* Application Launchers and Grid */

.icon-grid {
    spacing: 36px;
    -shell-grid-horizontal-item-size: 118px;
    -shell-grid-vertical-item-size: 118px;/*search-result-button-size*/
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.all-app {
    padding: 16px 25px 16px 16px;/*25=for the side of the menu, so it's not right beside the scrollbar*/
    spacing: 20px;
    background-color: #dfdfdf;
    /*border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.0);*/
}

.all-app:rtl {
    padding-right: 16px;
    padding-left: 25px;
}

.app-filter {
    font-size: 10.5pt;
    height: 1.5em;
    color: #595959;
    width: 200px;
    padding: 5px 0px 5px 8px ;
}

.app-filter:hover {
    color: #34cbf3;
}

.app-filter:selected,
.app-filter:selected:rtl {
    font-weight: bold;
    color: #262626;
}

.app-filter:selected:hover {
    color: #34cbf3;
}

.app-filter:focus {
    color: #2eb5d9;
}



.remove-favorite-icon {
    color: #fff;
    icon-shadow: black 0px 1px 1px;
}

.remove-favorite-icon:hover {
    color: #fff;
    icon-shadow: black 0px 2px 2px;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border-radius: 4px;
    padding: 4px;
    border: 1px rgba(0,0,0,0);
    font-size: 10pt;
    color: #595959;; /*text colour in app-menu*/
    /*text-shadow: #b6d598 0px 2px 2px;*/ /*bad for performance*/
    transition-duration: 300;
    text-align: center;
}

/* Contacts */

.contact-grid {
    spacing: 36px;
    -shell-grid-horizontal-item-size: 272px; /* 2 * -shell-grid-horizontal-item-size + spacing */
    -shell-grid-vertical-item-size: 118px;
}

.contact {
    width: 272px;/* Same width as two normal results + spacing */
    height: 118px;/* Aspect ratio = 1.75. Normal US business card ratio */
    padding: 3px;
    /*border: 1px solid rgba(0,0,0,0); around thing, not just white part*/
    transition-duration: 300;
}

.contact-content {
    padding: 8px;
    width: 232px;
    height: 84px;
    color: #595959;
    text-align: center;
}

.contact-icon {
  border-radius: 4px;
}

.contact-details {
  padding: 6px 8px 11px 8px;
}

.contact-details-alias {
  font-size: 16px;
  padding-bottom: 11px;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.contact:hover {
    color: #fff; /*doesn't work*/
    border-image: url('assets/app-hover.svg') 7 7 7 7;
    transition-duration: 300;
}

.app-well-app > .overview-icon { /*running app*/
    border: 4px transparent;
    border-radius: 4px;
}

.app-well-app.running > .overview-icon { /*running app*/
    color: #fff;
    border-image: url('assets/app-running.svg') 7 7 7 7;
    padding: 4px;
}

.contact:selected,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon { /*selected app*/
    border-image: url('assets/app-focus.svg') 7 7 7 7;
    transition-duration: 300;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon { /*prelight in app-menu*/
    color: #fff;
    border-image: url('assets/app-hover.svg') 7 7 7 7;
    padding: 4px;
    transition-duration: 300;
}

.app-well-app:active > .overview-icon,
.remove-favorite:active > .overview-icon,
.search-result-content:active > .overview-icon { /*pressed in app-menu*/
}

.contact:focus, /*doesn't seem to ever show up*/
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
    border-image: url('assets/app-focus.svg') 7 7 7 7;
    transition-duration: 300;
}

/* LookingGlass */

#LookingGlassDialog
{
    background-color: rgba(0,0,0,0.80);
    spacing: 4px;
    padding: 4px;
    border: 2px solid grey;
    border-radius: 4px;
}

#LookingGlassDialog > #Toolbar
{
    border: 1px solid grey;
    border-radius: 4px;
}

#LookingGlassDialog .labels {
    spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #ccc;
    transition-duration: 100;
    padding-left: .3em;
    padding-right: .3em;
}

#LookingGlassDialog .notebook-tab:hover {
    color: white;
    text-shadow: black 0px 2px 2px;
}

#LookingGlassDialog .notebook-tab:selected {
    border-image: url("panel-button-border.svg") 10 10 0 2;
    background-image: url("panel-button-highlight-wide.svg");
    color: white;
    text-shadow: black 0px 2px 2px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StEntry
{
    selection-background-color: #bbbbbb;
    selected-color: #333333;
}

.lg-completions-text
{
    font-size: .9em;
    font-style: italic;
}

.lg-obj-inspector-title
{
    spacing: 4px;
}

.lg-obj-inspector-button
{
    border: 1px solid gray;
    padding: 4px;
    border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
    border: 1px solid #ffffff;
}

.lg-dialog .shell-link
{
    color: #999999;
}

.lg-dialog .shell-link:hover
{
    color: #dddddd;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
    spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
}

/* Calendar popup */

#calendarEventsArea {
    /* this is the width of the second column of the popup */
    min-width: 400px;
}

.calendar-vertical-separator {
    background-color: rgba(0,0,0,0.1);
    width: 0.1em;
}

#calendarPopup { /*??*/
    border-radius: 0px;
    background: rgb(0,0,0);
    border: 1px solid rgba(128,128,128,0.45);
    color: #4d4d4d;/*use the calendar-text-colour*/
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #4d4d4d;
    font-size: 10pt;
    padding: 2px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 16px;
    height: 16px;
    background-image: url("assets/calendar-arrow-left.svg");
    border: 1px transparent; /*to stop jumping on hover*/
    border-radius: 0px;
}

.calendar-change-month-back:rtl {
    background-image: url("assets/calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-image: url("assets/calendar-arrow-left-hover.svg");
}
.calendar-change-month-back:active {
}

.calendar-change-month-forward {
    width: 16px;
    height: 16px;
    background-image: url("assets/calendar-arrow-right.svg");
    border: 1px transparent; /*to stop jumping on hover*/
    border-radius: 0px;
}

.calendar-change-month-forward:rtl {
    background-image: url("assets/calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-image: url("assets/calendar-arrow-right-hover.svg");
}
.calendar-change-month-forward:active {
}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-size: 10.5pt;
    color: #4d4d4d;
    font-weight: bold;
}

.calendar-day-base { /*days (squares)*/
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    color: #424242;
    background-color: #99d0e2;
    transition-duration: 300;
}

.calendar-day-base:active {
    color: #424242;
    background-color: #99d0e2;
}

.calendar-day-heading {
    color: #4d4d4d;
    padding-top: 1em;
}

.calendar-week-number {
    color: #4d4d4d;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    color: #4d4d4d;
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
    border: 1px solid rgba(0,0,0,0.1);
}

.calendar-nonwork-day {
    border: 1px solid rgba(0,0,0,0.05);
}

.calendar-today {
    color: #fff;
    background-color: #0099cc;
    font-weight: bold;
}

.calendar-other-month-day {
    color: rgba(0,0,0,0.4);
}

.calendar-day-with-events {
    font-weight: bold;
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.75em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    font-size: 10pt;
    font-weight: bold;
    color: #4d4d4d;
    padding-left: 1.8em;
    padding-top: 0.8em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    font-size: 9pt;
    color: #4d4d4d;
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 9pt;
    color: #4d4d4d;
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task { /*"Nothing Scheduled"*/
    font-size: 9pt;
    color: #4d4d4d;
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter { /*used in message-notification-thing*/
    link-color: #0851a6;
}

/* Message Tray */
#message-tray { /*system-tray/notification-area (bar at bottom of shell)*/
    background-color: #fff;
    border: 0px;
    border-top: 3px solid #3fbbe7;
    height: 36px;
    color: #595959;
}

#notification {
    border-radius: 0px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    font-size: 11pt;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;
    color: #333;
    padding: 8px 8px 4px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer { /*message-popups (chat, hotplug, etc.)*/
    /*border: 1px solid #f0f0f0;*/
    border-radius: 0px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);

/*
    border-radius: 3px;
    background-color: #282828;
    border: 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.1);
*/
}

.summary-boxpointer #notification { /*inner-message-thing*/ /*make invisible*/ /*use .summary-boxpointer above*/
    border: transparent;
    background-gradient-start: transparent;
    background-gradient-end: transparent;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0);
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
     /*font-size: 10.5pt;*/ /*DON'T DO! IT SCREWS IT UP.*/
    font-size: 10pt;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em; /*max height of message-notification before scrollbar*/
    -st-vfade-offset: 24px; /*fade threshold for notifications */
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button { /*notification-button-normal*/
    border-image: url('assets/button-normal.svg') 9 9 9 9;
    color: #595959;
    padding: 5px 14px;
    font-size: 11pt;
}

.notification-icon-button {
    color: #a2a2a2;
    padding: 2px 14px;
    font-size: 11pt;
}

.notification-button:focus {
    border-image: url('assets/app-focus.svg') 7 7 7 7 stretch;
}

.notification-icon-button:focus { /*notification-button-focus*/
    color: #8c8c8c;
}

.notification-button:hover {
    border-image: url('assets/app-hover.svg') 7 7 7 7 stretch;
    color: #fff;
    transition-duration: 300;
}

.notification-icon-button:hover { /*notification-button-prelight*/
    color: #797979;
    transition-duration: 300;
}

.notification-button:active,
.notification-icon-button:active { /*notification-button-pressed*/
}

.notification-icon-button { /*notification-area-icon??*/
    padding: 5px;
}

.notification-icon-button > StIcon { /*embedded rhythmbox notification-tray buttons*/
    icon-size: 34px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item { /*buttons (open, eject, etc.)*/
    border-image: url('assets/button-normal.svg') 9 9 9 9 stretch;
    color: #595959;
    font-size: 10.5pt;
    padding: 5px 8px;
}

.hotplug-notification-item:focus {
    border-image: url('assets/app-focus.svg') 7 7 7 7 stretch;
    padding: 5px 8px;
}

.hotplug-notification-item:hover {
    border-image: url('assets/app-hover.svg') 7 7 7 7 stretch;
    color: #fff;
    transition-duration: 300;
    padding: 5px 8px;
}

.hotplug-notification-item:active {
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount { /*in notification tray popup*/
    spacing: 8px;
    border-radius: 4px;
    border: 1px transparent; /*to correct padding for hover (below)*/
    color: #595959;
}

.hotplug-resident-mount:hover {
    color: #32b4ee;
    transition-duration: 300;
}

.hotplug-resident-mount:active {
    color: #4586a3;
    transition-duration: 100;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    color: #a2a2a2;
    padding: 7px;
}

.hotplug-resident-eject-button:hover {
    color: #787878;
    transition-duration: 300;
}

.hotplug-resident-eject-button:active {
}

.chat-log-message {
    color: #6f6f6f;
}

.chat-group-sent, .chat-group-meta {
    padding: 8px 0;
}

.chat-received {
    color: #32b4ee;
    padding: 2px;
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    color: #282828;
    padding: 2px;
    padding-left: 4pt;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 4pt;
}

.chat-meta-message {
    padding-left: 4px;
    border-radius: 4px;
    font-size: 9pt;
    color: #6f6f6f;
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.subscription-message {
    font-style: italic;
}

 /*custom fixed scrollbars*/
#notification StScrollBar StButton#vhandle:hover
{
    border-image: url('assets/scrollbar-vhandle.svg') 7 7 7 7 stretch;
}

#notification StEntry {
    padding: 4px;
    color: #282828;
    border-image: url('assets/entry-normal.svg') 3 3 0 5 stretch;
    selection-background-color: #282828;
    selected-color: #fff;/*selected-text-colour*/
    caret-color: #282828;
    caret-size: 1px;
    transition-duration: 300;
}

#notification StEntry:focus {
    border-image: url('assets/entry-active.svg') 3 3 0 5 stretch;
    transition-duration: 300;
}

/* The spacing and padding on the summary is tricky;we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 2px 0px 0px 4px;
    height: 36px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {
}

.summary-source-button:ltr {
    padding-right: 0px;
}

.summary-source-button:hover { /*summary buttons (hover)*/
    color: #424242;
    background-color: #9fddf3;
    border-radius: 0px;
    transition-duration: 500;
}

.summary-source-button:selected .summary-source { /*summary buttons (pressed)*/
    background-color: #d9d9d9;
}

.summary-source-button:selected:hover .summary-source { /*summary buttons (pressed, hover)*/
    background-color: #9fddf3;
    transition-duration: 300;
}

.summary-source-button:expanded:selected { /*notification-tray-icon-(ABRT, etc)*/
    /*just uses above if nothing here*/
}

.summary-source-button:expanded:selected .summary-source {
    background-image: none;
    border-image: none;

}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.summary-source-counter {
    color: #fff;
    background-color: #33b5e5;
    font-size: 9pt;
    font-weight: bold;
    border-radius: 1em;
    min-height: 1em;
    min-width: 1em;
}

.source-title {
    font-size: 9pt;
    font-weight: bold;
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    border-image: url('assets/alt+tab-outer.svg') 10 10 10 10 stretch;
    padding: 9px;
    font-size: 12pt;
    color: #595959;
}

.switcher-list-item-container {
    spacing: 0px;
}

.thumbnail-scroll-gradient-left {
    border-image: url('assets/alt+tab-gradient-left.svg') 8 8 8 8 stretch;
    width: 50px;
}

.thumbnail-scroll-gradient-right {
    border-image: url('assets/alt+tab-gradient-right.svg') 8 8 8 8 stretch;
    width: 50px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 8px;
}

.switcher-list .item-box:outlined { /*top button on alt-tab down arrow-thing*/
    background-color: rgba(0,0,0,0.1);
    border-radius: 0px;
}

.switcher-list .item-box:selected { /*alt+tab buttons*/
    color: #424242;
    background-color: #99d0e2;
    border-radius: 0px;
    transition-duration: 100;
}

.switcher-list .thumbnail-box {
    padding: 0px;
    spacing: 0px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background-color: rgba(0,0,0,0.1);
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("assets/corner-ripple-ltr.png");
}

.ripple-box:rtl {
    background-image: url("assets/corner-ripple-rtl.png");
}

.switcher-arrow { /*LOOK -NEED*/
    color: #000;
    background-color: rgba(51,181,229,1);
    box-shadow: 0px 0px 3px 8px rgba(51,181,229,1);
}

.switcher-arrow:highlighted { /*LOOK -NEED*/
    color: #000;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 0px;
}

.workspace-switcher-container {
    background-color: #dfdfdf;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 0px;
}

.workspace-switcher { /*line in between*/
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    spacing: 0px;
}

.ws-switcher-active-up {
    height: 100px;
    background-color: #99d0e2;
    background-image: url("assets/ws-switch-arrow-up.svg");
    border-radius: 0px;
    transition-duration: 100;
}

.ws-switcher-active-down {
    height: 100px;
    background-color: #99d0e2;
    background-image: url("assets/ws-switch-arrow-down.svg");
    border-radius: 0px;
    transition-duration: 100;
}

.ws-switcher-box {
    height: 96px;
    border-top: 1px solid rgba(0,0,0,0.1); /*acts as a separator*/
    background-color: transparent;
    border-radius: 0px;
}

/*fix for top workspace*/
.ws-switcher-box:first-child {
    border-top: 0px;
}

/* Modal Dialogs */

.modal-dialog {
    font-size: 12pt;
    background-color: #dfdfdf;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    color: #595959;
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box { /*modal-dialog-button-spacing*/
    spacing: 21px;
}

.modal-dialog-button {
    border-image: url('assets/button-normal.svg') 9 9 9 9 stretch;
    color: #595959;
    font-size: 10pt;
    /*margin-left: 10px;
    margin-right: 10px;*/
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modal-dialog-button:disabled {
    color: #cdcdcd;
    border-image: url('assets/button-inactive.svg') 9 9 9 9 stretch;
}

.modal-dialog-button:focus {
    border-image: url('assets/app-focus.svg') 7 7 7 7 stretch;
}

.modal-dialog-button:hover {
    border-image: url('assets/app-hover.svg') 7 7 7 7 stretch;
    color: #fff;
    transition-duration: 300;
}

.modal-dialog-button:active,
.modal-dialog-button:pressed {
}

/* Run Dialog */
.run-dialog-label {
    font-size: 14px;
    color: #595959;
    padding: 2px;
}

.run-dialog-error-label {
    font-size: 14px;
    color: #ff0000;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 14pt;
    width: 23em;
    color: #595959;
    border-image: url('assets/entry-active.svg') 3 3 0 5 stretch;
    selection-background-color: #a0d4e8;
    selected-color: #595959; /*selected-text-colour*/
    padding: 2px;
}

.run-dialog {
    background-color: #dfdfdf;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox { /*dimmed-screen on run-command*/
    background-color: rgba(0,0,0,0.4);
}

.flashspot {
    background-color: white;
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #595959;/*logout/shutdown (what you want to do)*/
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 10pt;
    color: #595959;/*logout/shutdown description*/
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border: 1px solid #000;
    border-radius: 0px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.3);
    width: 48px;
    height: 48px;
    padding: 2px;
}

/*LOOK -DO*/
.end-session-dialog-shutdown-icon {
   color: #ff0000;
   width: 32px;
   height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #595959;
    font-weight: bold;
    border: 1px transparent; /*to avoid jumping on hover*/
    border-radius: 0px;
    padding: 4px;
}

.end-session-dialog-app-list-item:hover {
    color: #424242;
    background-color: #b8d0d9;
    transition-duration: 300;
}

.end-session-dialog-app-list-item:active {
    color: #595959;
    background-color: rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.4);
    transition-duration: 200;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    font-weight: normal;
    color: #595959;
}

/* ShellMountOperation Dialogs */ /*What is this?*/
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
    color: white;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* Password or Authentication Dialog */
.prompt-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.prompt-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.prompt-dialog-message-layout {
    spacing: 16px;
}

.prompt-dialog-headline { /*(Authentication Required)*/
    font-size: 12pt;
    font-weight: bold;
    color: #3d3d3d;
}

.prompt-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.prompt-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.prompt-dialog-password-entry {
    border-image: url('assets/entry-normal.svg') 3 3 0 5 stretch;
    transition-duration: 300;
    box-shadow: inset 1px -1px 0px 0px rgba(255,255,255,0.2);
    color: #595959;
    padding: 4px;
}

.prompt-dialog-password-entry:focus {
    border-image: url('assets/entry-active.svg') 3 3 0 5 stretch;
    transition-duration: 300;
}

.prompt-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #ff0000;
    padding: 0 4px;
}

.prompt-dialog-error-label { /*(Authentication Failure)*/
    font-size: 10pt;
    color: #000;
    padding-bottom: 8px;
}

.prompt-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.prompt-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

/* Polkit Dialog */

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label { /*"Administrator"*/
    color: red;
    font-weight: bold;
}

/* Network Agent Dialog */

.network-dialog-secret-table {
    spacing-rows: 15px;
}

.keyring-dialog-control-table {
    spacing-rows: 15px;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
    background-color: #000;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-color: #424442;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
    color: #fff;
}

.keyboard-key:grayed {
   color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-color: #086898;
    transition-duration: 300;
}

.keyboard-key:active {
    background-color: #086898;
    transition-duration: 300;
}

.keyboard-subkeys {
    color: red;/*doesn't do anything?*/
    padding: 0px;
    border-radius: 3px;
    background-color: #006498;
    border: 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
    -boxpointer-gap: 5px;
}

.keyboard-subkeys .keyboard-layout {
    padding: 0px;
    spacing: 0px;
}

.keyboard-subkeys .keyboard-key {
    background-color: transparent;
    box-shadow: inset 0px 1px 0px 0px #006498; /*to get rid of the regular key shadow*/
    text-shadow: rgba(0,0,0,0.4) 0px 2px 2px;
}

.keyboard-subkeys .keyboard-key:hover {
    background-color: #008cc0;
}
